<div class="adminCntrl">
    <div class="headingtittle-h2 text-center">
        <h2>Shivir Episodes</h2>
    </div>
    <div class="row">
        <div class="overflow-row">
            <div class="rightCntrl">
                <div class="boxsection-lg boxsection-xs boxshadow prelative">
                    <!-- assets -->
                    <div class="row">
                        <%= link_to "NEW COLLECTION", shivir_collections_new_collections_path, class: 'btn btn-info mg-x-t30'%>
                        <div class="headtittle text-center">
                            <h2>Shivir Episode Collection</h2>
                        </div>
                        <div class="col-sm-12">
                            <!-- Search Collection -->
                            <%= form_tag({}, method: :get) do%>
                                <a href="#transactions" class="refinemenu primary-color" data-toggle="collapse" aria-expanded="true"><i class="fa fa-filter" aria-hidden="true"></i> Refine</a>
                                <div class="refineCntrl collapse in" aria-expanded="true" id="transactions" role="tablist">
                                    <div class="refinesub-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="box bordered-input">
                                                    <div class="dropdown dropdown-field">
                                                        <%= hidden_field_tag :collection_type, params[:collection_type], class: "form-control noBorder field", placeholder:"Search collection name"%>
                                                        <%= text_field_tag :collection_name, params[:collection_name], class: "form-control noBorder field", placeholder:"Search collection name"%>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="pannel-btn text-right">
                                                    <button class="btn btn-danger mg-r10" type="button" onclick='Turbolinks.visit("<%= shivir_collections_collections_path %>")'>CLEAR</button>
                                                    <button class="btn btn-info">SEARCH</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                        <% if @collections.present? %>
                            <div class="col-sm-12 mg-t60">
                                <div class="Boxdrop dropdown mg-x-b15">
                                    <%= render 'application/per_page' %>
                                </div>
                                <div class="tableCntrl">
                                    <div class="table-responsive tableScrollbar">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Forum Name</th>
                                                    <th class="text-center"></th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% (@collections || []).each do |collection|%>
                                                    <tr>
                                                        <td class="primarybold">
                                                            <%= link_to collection.collection_name, collection_edit_episodes_collection_path(collection.id), class: "secondary-color"%>
                                                        </td>
                                                        <td class="text-center">
                                                            <%= link_to "CREATE ASSETS", collection_edit_episodes_collection_path(collection.id), class: "btn btn-info"%>
                                                        </td>
                                                        <td class="text-center">
                                                            <%= link_to collection_edit_episodes_collection_path(collection.id), class: " primary-color" do %>
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            <%end%>
                                                            <%= link_to collection_destroy_episodes_collection_path(collection), class: " primary-color", method: :delete, data: { confirm: "Are you sure?" } do %>
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            <%end%>
                                                        </td>
                                                    </tr>
                                                <%end%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-pagination">
                                      <div class="show-pgnation">
                                        <p class="primarybold"><%= custom_page_entries_info(@collections) %></p>
                                      </div>
                                      <%= paginate @collections %>
                                    </div>
                                </div>
                            </div>
                        <%else%>
                           <%= render partial: 'application/no_records', locals: {message: 'No Collection Found.'} %> 
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>