<tr>
    <td style="padding: 20px 30px; background: #f8f8f8;" colspan="2">
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <div style="margin: 20px auto 0; width: 120px; height: 120px; border-radius: 50%; overflow: hidden;">
                            <img src="https://s3.amazonaws.com/syportalattachments/email_template_images/babaji_thumbnail.png">
                        </div>
                        <span style="text-align: center; display: block; color: #666; font-weight: 700; font-size: 22px; margin: 20px 0 5px;">Namah Shivay Ji</span>
                        <p style="margin: 0 0 30px; color: #909090; font-size: 15px; font-weight: 400;"> <%= @options[:sadhak_profile].try(:full_name) %> has reported a message on an Episode <%= @options[:asset].try(:asset_name) %></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h3>SYID:</h3>
                        <p><%= @options[:sadhak_profile].try(:syid) %></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h3>Name:</h3>
                        <p><%= @options[:sadhak_profile].try(:full_name) %></p>
                    </td>
                </tr>
                <% if @options[:sy_club].present? %>
                    <tr>
                        <td colspan="5">
                            <h3>Forum Id:</h3>
                            <p><%= @options[:sy_club].try(:id) %></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <h3>Forum Name:</h3>
                            <p><%= @options[:sy_club].try(:name) %></p>
                        </td>
                    </tr>
                <% end %>
                <tr>
                    <td colspan="5">
                        <h3>Contact Number:</h3>
                        <p><%= @options[:sadhak_profile].try(:mobile) %></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h3>MESSAGE:</h3>
                        <p><%= @options[:content] %></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div style="margin: 15px 0; text-align: left; font-size: 15px;">
                            <a href=<%="http://#{Rails.application.config.app_base_url}/"%> style="text-decoration: underline; color: #990000; cursor: pointer;">Click here</a> to visit our website
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>