<tr>
    <td style="padding: 20px 30px; background: #f8f8f8;" colspan="2">
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 100%;">
            <tr>
                <td>
                  <p style="text-align: left; display: block; color: #666; font-weight: 700; font-size: 22px; margin: 30px 0 20px;">Namah Shivay, <%= @options[:sadhak_profile].try(:full_name) %> / <span style="color: #990000;"><%= @options[:sadhak_profile].try(:syid) %></span></p>
                  <p style="margin: 0 0 20px; color: #333; font-size: 16px; font-weight: 400;"><%= @options[:expiry_message].html_safe %></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 16px; margin: 0 0 10px;">Please <a href=<%= @options[:link] %> style="color: #990000; text-decoration: underline;">click here</a> to renew your membership</p>
                    <p style="font-size: 16px; margin: 0 0 10px;"><a href=<%= @options[:visit_website_link] %> style="color: #990000; text-decoration: underline;">click here</a> to visit our website</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 16px; font-weight: 600; margin: 20px 0 30px; color: #666;">Thank you</p>
                </td>
            </tr>
        </table>
    </td>
</tr>