<%= form_for @pg_sy_paypal_config, html:{id: "pg_sy_paypal_config_form", class: "table-screen-next"} do |f| %>
  <div class="prelative mg-b30">
      <div class="overlapping"></div>
      <div class="row mg-t30">
          <div class="col-sm-6">
              <div class="box bordered-input">
                  <label>Type</label>
                  <div class="dropdown dropdown-field">
                      <input type="text" class="form-control noBorder field" placeholder="Type" value="<%= @payment_gateway_type_name.titleize %>" disabled>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="box bordered-input">
                  <label>Alias</label>
                  <div class="dropdown dropdown-field">
                      <%= f.text_field :alias_name, class: 'form-control noBorder field', required: true, placeholder: 'Alias' %>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="box bordered-input">
                  <label>Username</label>
                  <div class="dropdown dropdown-field">
                      <%= f.text_field :username, class: 'form-control noBorder field', required: true, placeholder: 'Username'%>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="box bordered-input">
                  <label>Password</label>
                  <div class="dropdown dropdown-field">
                      <%= f.text_field(:password, class: 'form-control noBorder field', required: true, placeholder: 'Password')%>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="box bordered-input">
                  <label>Signature</label>
                  <div class="dropdown dropdown-field">
                      <%= f.text_field(:signature, class: 'form-control noBorder field', required: true, placeholder: 'Signature')%>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="box bordered-input dropdown">
                  <label>Country</label>
                  <div class="dropdown-field selectTwo-dropdown">
                      <%= f.select(:country_id , options_for_select(DbCountry.pluck(:name, :id), selected: f.object.country_id), {prompt: 'Select Country'}, {class: 'basic-single', required: true}) %>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="box bordered-input">
                  <label>Service Tax and Convenience Charges</label>
                  <div class="dropdown dropdown-field">
                      <%= f.text_field(:tax_amount, class: 'form-control noBorder field', required: true, placeholder: 'Service tax and convenience charges')%>
                  </div>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="pannel-btn text-right">
                  <button type="reset" class="btn btn-danger mg-r10 resetForm" >CLEAR</button>
                  <%= f.submit params[:action] == "edit" ? "UPDATE" : 'CREATE', {class: 'btn btn-info'} %>
              </div>
          </div>
      </div>
  </div>
 <% end %>
 <script type="text/javascript">
 $(document).ready(function(){
  $("#pg_sy_paypal_config_form").validate();
 });
</script>