<%= content_for(:title, "About ShivYog Events") %>

<section id="about-shivyog-events-banner">
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">About Shivyog Events</div>
        <div class="dashed_divider"></div>
        <p>Shiv represents the Supreme Consciousness and Yog represents union. ShivYog thus is the state of being merged with the infinite consciousness. To know more about healing the mind, body & soul and about life transformation solutions visit this website's pages. The founder of ShivYog is <a href="<%= v2_dr_shivanand_path %>">Dr. Avdhoot Shivanand</a> is the Master of Ancient Indian Healing, who is currently sharing the sacred secrets of healing for overall life transformation.</p>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="know_about_shivyog_programs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Know More About Shiv Yog Programs</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">A. Shivyog Introductory Programs</div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a id="tab-celestial-sounds" href="#pane-celestial-sounds" class="nav-link journey_tabs active" data-toggle="tab" role="tab">700 Celestial Sounds</a>
          </li>
          <li class="nav-item">
            <a id="tab-prati-prasav" href="#pane-prati-prasav" class="nav-link journey_tabs" data-toggle="tab" role="tab">Prati Prasav</a>
          </li>
          <li class="nav-item">
            <a id="tab-siddha-healing" href="#pane-siddha-healing" class="nav-link journey_tabs" data-toggle="tab" role="tab">Siddha Healing</a>
          </li>
          <li class="nav-item">
            <a id="tab-sambhavi-live" href="#pane-sambhavi-live" class="nav-link journey_tabs" data-toggle="tab" role="tab">Sambhavi Live</a>
          </li>
        </ul>

        <div id="content_shivyog_introductory_programs" class="tab-content" role="tablist">
          <div id="pane-celestial-sounds" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-celestial-sounds">
            <div class="card-header" role="tab" id="heading-celestial-sounds">

              <a data-toggle="collapse" href="#collapse-celestial-sounds" aria-expanded="true" aria-controls="collapse-celestial-sounds">
              700 Celestial Sounds
              </a>

            </div>
            <div id="collapse-celestial-sounds" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-celestial-sounds">
            <div class="card-body">
              <div class="row"><!--#START Celestial Sounds Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">700 Celestial Sounds </div>
                  <p>Dr. Avdhoot Shivanand discovered these 700 celestial sounds which bestow those who chant them with tremendous power and clear guidance for achieving health, wealth and happiness.</p>

                    <div class="shivyog-btn display-inline-block">
                      <%= link_to v2_blogs_path do %>
                        <div class="cta_button_small bg-red waves-effect">Read More</div>
                      <% end %>
                    </div>

                </div>
              </div><!--#END Celestial Sounds Ends-->
            </div>
            </div>
          </div>

          <div id="pane-prati-prasav" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-prati-prasav">
            <div class="card-header" role="tab" id="heading-prati-prasav">

              <a data-toggle="collapse" href="#collapse-prati-prasav" aria-expanded="true" aria-controls="collapse-prati-prasav">
              Prati Prasav
              </a>

            </div>
            <div id="collapse-prati-prasav" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-prati-prasav">
            <div class="card-body">
              <div class="row"><!--#START Prati Prasav Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Prati Prasav </div>
                  <p>This ancient yogic practice helps one to release the stored up energy of one’s reactions to life's events and incidents. One is then free to create a new future.</p>
                </div>
              </div><!--#END Prati Prasav Ends-->
            </div>
            </div>
          </div>

          <div id="pane-siddha-healing" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-siddha-healing">
            <div class="card-header" role="tab" id="heading-siddha-healing">

              <a data-toggle="collapse" href="#collapse-siddha-healing" aria-expanded="true" aria-controls="collapse-siddha-healing">
              siddha Healing
              </a>

            </div>
            <div id="collapse-siddha-healing" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-siddha-healing">
            <div class="card-body">
              <div class="row"><!--#START Siddha Healing Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Siddha Healing </div>
                  <p>This is the first introduction to Shiv Yog's ancient healing modalities. This program will initiate you into a healing process that helps you achieve physical and emotional health and well-being.</p>
                </div>
              </div><!--#END Siddha Healing Ends-->
            </div>
            </div>
          </div>

          <div id="pane-sambhavi-live" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-sambhavi-live">
            <div class="card-header" role="tab" id="heading-sambhavi-live">

              <a data-toggle="collapse" href="#collapse-sambhavi-live" aria-expanded="true" aria-controls="collapse-sambhavi-live">
              Sambhavi Live
              </a>

            </div>
            <div id="collapse-sambhavi-live" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-sambhavi-live">
            <div class="card-body">
              <div class="row"><!--#START Sambhavi Live Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Sambhavi Live </div>
                  <p>This program takes healing to the next level by tapping into the powerful healing energy of the Sun. It brings tremendous radiance and brilliance to one's countenance and a greater control over one's physical and emotional health.</p>
                </div>
              </div><!--#END Sambhavi Live Ends-->
            </div>
            </div>
          </div>

        </div>


        <div class="dashed_divider"></div>


        <div class="heading_title">B. Yoga Of Inner Consciousness - Advanced Programs</div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a id="tab-advanced-prati-prasav" href="#pane-advanced-prati-prasav" class="nav-link journey_tabs active" data-toggle="tab" role="tab">Advanced Prati Prasav</a>
          </li>
          <li class="nav-item">
            <a id="tab-sri-vidya-saptsathi" href="#pane-sri-vidya-saptsathi" class="nav-link journey_tabs" data-toggle="tab" role="tab">Sri Vidya Saptsathi</a>
          </li>
          <li class="nav-item">
            <a id="tab-sri-vidya-123" href="#pane-sri-vidya-123" class="nav-link journey_tabs" data-toggle="tab" role="tab">Sri Vidya 1,2,3</a>
          </li>
        </ul>

        <div id="content_yoga_of_inner_consciousness" class="tab-content" role="tablist">
          <div id="pane-advanced-prati-prasav" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-advanced-prati-prasav">
            <div class="card-header" role="tab" id="heading-advanced-prati-prasav">

              <a data-toggle="collapse" href="#collapse-advanced-prati-prasav" aria-expanded="true" aria-controls="collapse-advanced-prati-prasav">
              Advanced Prati Prasav
              </a>

            </div>
            <div id="collapse-advanced-prati-prasav" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-advanced-prati-prasav">
            <div class="card-body">
              <div class="row"><!--#START Advanced Prati Prasav Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Advanced Prati Prasav </div>
                  <p>As you release more of the stored up psychic impressions, the more capacity you have to absorb cosmic energy. The more the cosmic energy you have available to you, the more you are able to achieve life's goals.</p>

                    <div class="shivyog-btn display-inline-block">
                      <%= link_to v2_blogs_path do %>
                        <div class="cta_button_small bg-red waves-effect">Read More</div>
                      <% end %>
                    </div>

                </div>
              </div><!--#END Advanced Prati Prasav Ends-->
            </div>
            </div>
          </div>

          <div id="pane-sri-vidya-saptsathi" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-sri-vidya-saptsathi">
            <div class="card-header" role="tab" id="heading-sri-vidya-saptsathi">

              <a data-toggle="collapse" href="#collapse-sri-vidya-saptsathi" aria-expanded="true" aria-controls="collapse-sri-vidya-saptsathi">
              Sri Vidya SaptShati
              </a>

            </div>
            <div id="collapse-sri-vidya-saptsathi" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-sri-vidya-saptsathi">
            <div class="card-body">
              <div class="row"><!--#Sri Vidya SaptShati Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Sri Vidya SaptShati </div>
                  <p>When the 700 celestial sounds are combined with the Sri Vidya cosmic sounds, the combined power is tremendous. One has to experience to believe it.</p>
                </div>
              </div><!--#END Sri Vidya SaptShati Ends-->
            </div>
            </div>
          </div>

          <div id="pane-sri-vidya-123" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-sri-vidya-123">
            <div class="card-header" role="tab" id="heading-sri-vidya-123">

              <a data-toggle="collapse" href="#collapse-sri-vidya-123" aria-expanded="true" aria-controls="collapse-sri-vidya-123">
              Sri Vidya 1,2,3
              </a>

            </div>
            <div id="collapse-sri-vidya-123" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-sri-vidya-123">
            <div class="card-body">
              <div class="row"><!--#START Sri Vidya 1,2,3 Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Sri Vidya 1,2,3 </div>
                  <p>Sri Vidya is the science of wealth - spiritual and material wealth. This is the greatest of all spiritual practices known to us and helps us rapidly release our psychic impressions while filling us up with tremendous cosmic energy. This is the science of materialization and goal manifestation in higher dimensions.</p>
                </div>
              </div><!--#END Sri Vidya 1,2,3 Ends-->
            </div>
            </div>
          </div>
        </div>

        <div class="dashed_divider"></div>

        <div class="heading_title">C. Yoga Of Self-Realization – Intensive Programs</div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a id="tab-intensive-prati-prasav" href="#pane-intensive-prati-prasav" class="nav-link journey_tabs active" data-toggle="tab" role="tab">Intensive Prati Prasav</a>
          </li>
          <li class="nav-item">
            <a id="tab-art-of-self-realization" href="#pane-art-of-self-realization" class="nav-link journey_tabs" data-toggle="tab" role="tab">Art of Self Realization Program</a>
          </li>
          <li class="nav-item">
            <a id="tab-yoga-of-immortals" href="#pane-yoga-of-immortals" class="nav-link journey_tabs" data-toggle="tab" role="tab">Yoga of the Immortals</a>
          </li>

          <li class="nav-item">
            <a id="tab-advanced-spritual-practices" href="#pane-advanced-spritual-practices" class="nav-link journey_tabs" data-toggle="tab" role="tab">More advanced spiritual practices</a>
          </li>
        </ul>


        <div id="content_yoga_of_self_realization" class="tab-content" role="tablist">
          <div id="pane-intensive-prati-prasav" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-intensive-prati-prasav">
            <div class="card-header" role="tab" id="heading-intensive-prati-prasav">

              <a data-toggle="collapse" href="#collapse-intensive-prati-prasav" aria-expanded="true" aria-controls="collapse-intensive-prati-prasav">
              Intensive Prati Prasav
              </a>

            </div>
            <div id="collapse-intensive-prati-prasav" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-intensive-prati-prasav">
            <div class="card-body">
              <div class="row"><!--#START Intensive Prati Prasav Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Intensive Prati Prasav </div>
                  <p>Intensive Prati Prasav is an intensive process of deeply healing psychic impressions stored in our energy centers (called Chakras in Sanskrit) and our subtle bodies. It prepares us for higher spiritual processes.</p>

                    <div class="shivyog-btn display-inline-block">
                      <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
                    </div>

                </div>
              </div><!--#END Intensive Prati Prasav Ends-->
            </div>
            </div>
          </div>

          <div id="pane-art-of-self-realization" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-art-of-self-realization">
            <div class="card-header" role="tab" id="heading-art-of-self-realization">

              <a data-toggle="collapse" href="#collapse-art-of-self-realization" aria-expanded="true" aria-controls="collapse-art-of-self-realization">
              Art of Self Realization Program
              </a>

            </div>
            <div id="collapse-art-of-self-realization" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-art-of-self-realization">
            <div class="card-body">
              <div class="row"><!--#Art of Self Realization Program Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Art of Self Realization Program </div>
                  <p>Self-realization is the process of discovering one's true identity and achieving a level of pure perception that allows us to see the world as it is. Yoga Vashistha says, "<em><u>You do not see the world the way it is, you see the world the way you are.</u></em>" A self-realized person sees himself one with the universe and the world around him.</p>

                    <div class="shivyog-btn display-inline-block">
                      <%= link_to v2_blogs_path do %>
                        <div class="cta_button_small bg-red waves-effect">Read More</div>
                      <% end %>
                    </div>

                </div>
              </div><!--#END Art of Self Realization Program Ends-->
            </div>
            </div>
          </div>

          <div id="pane-yoga-of-immortals" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-yoga-of-immortals">
            <div class="card-header" role="tab" id="heading-yoga-of-immortals">

              <a data-toggle="collapse" href="#collapse-yoga-of-immortals" aria-expanded="true" aria-controls="collapse-yoga-of-immortals">
              Yoga of the Immortals
              </a>

            </div>
            <div id="collapse-yoga-of-immortals" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-yoga-of-immortals">
            <div class="card-body">
              <div class="row"><!--#START Yoga of Immortals Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Yoga of the Immortals </div>
                  <p>In contrast to the yoga that is now popular all over the world, there is a yoga - a purer form of yoga that can bestow a true practitioner with a lot of physical and mental powers. It sets him on the path of self-realization.</p>

                    <div class="shivyog-btn display-inline-block">
                      <%= link_to v2_blogs_path do %>
                        <div class="cta_button_small bg-red waves-effect">Read More</div>
                      <% end %>
                    </div>

                </div>
              </div><!--#END Yoga of the Immortals Ends-->
            </div>
            </div>
          </div>

          <div id="pane-advanced-spritual-practices" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-advanced-spritual-practices">
            <div class="card-header" role="tab" id="heading-advanced-spritual-practices">

              <a data-toggle="collapse" href="#collapse-advanced-spritual-practices" aria-expanded="true" aria-controls="collapse-advanced-spritual-practices">
              More advanced spiritual practices
              </a>

            </div>
            <div id="collapse-advanced-spritual-practices" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-advanced-spritual-practices">
            <div class="card-body">
              <div class="row"><!--#START Advanced Spiritual Practices Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">More advanced spiritual practices </div>
                  <p>The masters of the Shiv Yog lineage have much to teach the world - they have hundreds of higher spiritual practices which they teach only to those who become eligible by significantly raising their level of consciousness.</p>

                    <div class="shivyog-btn display-inline-block">
                      <%= link_to v2_blogs_path do %>
                        <div class="cta_button_small bg-red waves-effect">Read More</div>
                      <% end %>
                    </div>

                </div>
              </div><!--#END Advanced Spiritual Practices Ends-->
            </div>
            </div>
          </div>
        </div>


        <div class="dashed_divider"></div>

        <div class="heading_title">D. Special Programs</div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a id="tab-cosmic-farming" href="#pane-cosmic-farming" class="nav-link journey_tabs active" data-toggle="tab" role="tab">Cosmic Farming</a>
          </li>
          <li class="nav-item">
            <a id="tab-cosmic-medicine" href="#pane-cosmic-medicine" class="nav-link journey_tabs" data-toggle="tab" role="tab">Cosmic Medicine</a>
          </li>
        </ul>

        <div id="content_special_programs" class="tab-content" role="tablist">
          <div id="pane-cosmic-farming" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-cosmic-farming">
            <div class="card-header" role="tab" id="heading-cosmic-farming">

              <a data-toggle="collapse" href="#collapse-cosmic-farming" aria-expanded="true" aria-controls="collapse-cosmic-farming">
              Cosmic Farming
              </a>

            </div>
            <div id="collapse-cosmic-farming" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-cosmic-farming">
            <div class="card-body">
              <div class="row"><!--#START Cosmic Farming Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Cosmic Farming </div>
                  <p>Cosmic Farming is the process of merging planetary or Earth energies with the powerful cosmic energy from the Sun. This helps to transmute the soil, water and air that has turned poisonous due to chemical based farming. The result is a great yield of nutrient rich food filled with life-force energy.</p>

                    <div class="shivyog-btn display-inline-block">
                      <%= link_to v2_cosmic_farming_path do %>
                        <div class="cta_button_small bg-red waves-effect">Read More</div>
                      <% end %>
                    </div>

                </div>
              </div><!--#END Cosmic Farming Ends-->
            </div>
            </div>
          </div>

          <div id="pane-cosmic-medicine" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-cosmic-medicine">
            <div class="card-header" role="tab" id="heading-cosmic-medicine">

              <a data-toggle="collapse" href="#collapse-cosmic-medicine" aria-expanded="true" aria-controls="collapse-cosmic-medicine">
              Cosmic Medicine
              </a>

            </div>
            <div id="collapse-cosmic-medicine" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-cosmic-medicine">
            <div class="card-body">
              <div class="row"><!--#Cosmic Medicine Starts-->
                <div class="col-sm-12">
                  <div class="heading_title_small">Cosmic Medicine </div>
                  <p>Cosmic medicine is the new age medical science based on ancient yogic practices from India. It is a process of raising the vibrational frequency of one's body and mind to achieve perfect physical and mental health. To learn more visit <a href="https://cureispossible.org" target="_blank">https://cureispossible.org</a></p>

                    <div class="shivyog-btn display-inline-block">
                      <%= link_to v2_cosmic_medicine_path do %>
                        <div class="cta_button_small bg-red waves-effect">Read More</div>
                      <% end %>
                    </div>


                </div>
              </div><!--#END Cosmic Medicine Ends-->
            </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="shivyog_video_img">
          <a href="Javascript: void(0);" id="dr_shivanand_video" data-toggle="modal" data-src="https://www.youtube.com/embed/SJytc1_rCqo" data-target="#myModal">
            <%= image_tag "v2/cosmic_healing_exp_video.jpg", class: "img-fluid" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "v2/shared/newsletter" %>
