<%= content_for(:title, "Awards And Recognitions") %>

<section id="awards-recognitions-banner">
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="heading_title">Awards & Recognitions</div>
      <div class="dashed_divider m-b-30"></div>
        <div id="awards-recognitions-carousel" class="owl-carousel owl-theme">
          <div class="item"><%= image_tag "v2/award_img_01.jpg", class: "img-fluid" %></div>
          <div class="item"><%= image_tag "v2/award_img_02.jpg", class: "img-fluid" %></div>
          <div class="item"><%= image_tag "v2/award_img_03.jpg", class: "img-fluid" %></div>
          <div class="item"><%= image_tag "v2/award_img_04.jpg", class: "img-fluid" %></div>
          <div class="item"><%= image_tag "v2/award_img_05.jpg", class: "img-fluid" %></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="awards">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="heading_title">International</div>
        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>NASSAU COUNTY AVDHOOT SHIVANAND DAY PROCLAMATION at North Hempstead, 18th June 2016. To know more <a href="http://asiantribune.com/node/89143" target="_blank">click here.</a></p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Hindu Muda Award at BALI, 31st December 2015. To know more <a href="https://youtu.be/fO-UewTrFvc" target="_blank">click here.</a></p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Mike Fitzpatrick – July 29, 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>US Flag of Honour at United States, 25th July, 2015.</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>House of representatives Proclamation at United States, United States, 19th July 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>US Senate commendation at United States, 18th August 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>NEW YORK ASSEMBLY CITATION  at New York, United States, 19th July 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>US Flag Hoisting: 2015, 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>New York's Proclamation: June 18th as Dr. Avdhoot Shivanand Day</p>


        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Rutger's Medical School recognition, 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Cincinnati Medical University Award, 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Cincinnati's Proclamation: July 13th as Dr. Avdhoot Shivanand Day</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>US Senate Certificate July 29, 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>US Congressional record July 27, 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Citations from New York Senate, July 9, 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Commendation from House of Delegates, 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Commendation Letter from Governor of Pennsylvania 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Nassau County Proclamation: Avdhoot Shivanand Day, June 2016</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>New York State Proclamation, July 19, 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Bali – Hindu Muda Award, December 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Mike Fitzpatrick, House of Representatives, July 29, 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>USA House of Representatives Proclamation, July 19, 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>US Senate recognition August 18, 2015; July 29, 2017</p>

      </div>

      <div class="col-sm-6">
        <div class="heading_title">National</div>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Doctorate Degree to Baba ji proclamation at Pune - 31st  August 2016. To know more <a href="https://www.indiapages.in/spiritual-leader-avdhoot-shivanand-6520.html" target="_blank">click here</a></p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Doctorate degree official ceremony  at  Pune - 08 April 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>AYUSH Commendation Letter India - 15th May 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>INDIAN CENTRAL GOVERNMENT HRD MINISTER Commendation letter India 31st August 2015 </p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>LETTER OF APPRECIATION FROM GUJARAT STATE GOVERNMENT</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Doctorate Degree Proclamation, Pune, August 31, 2016</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Doctorate degree, DY Patil Vidyapeeth official ceremony, April 8, 2017</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Message from Ministry of AYUSH 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>AYUSH Commendation 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>HRD Minister Commendation Letter, India, August 31, 2016</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Commendation from Assam, 2015</p>

        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Commendation from Gujarat, 2015</p>

      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>
