<%= content_for(:title, "Contributions") %>
<section id="contributions-banner">
  <div class="light_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md 12">
        <div class="banner_text">
          <div class="main_banner_heading">
            Contributions
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Contributions</div>
        <div class="dashed_divider"></div>
        <p><a href="<%= v2_dr_shivanand_path %>">Dr. Avdhoot Shivanand's</a> contributions to the world and society have been immense over the last three decades. He has contributed significantly to our understanding of many hitherto unknown dimensions of the human body, mind, emotions and most importantly human consciousness.</p>

        <p>On this page we provide a brief introduction to his contributions to various fields.</p>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="contributions">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contributions_box">
          <div class="row">
            <div class="col-sm-6">
              <div class="shivyog_img">
                <%= image_tag "v2/humanity_img.jpg", class: "img-fluid img-no-border" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="contributions_text_content">
                <div class="heading_subtitle">Humanity</div>
                <div class="heading_title">Contributions to <span class="red-text">Humanity</span></div>
                <p>Dr. Shivanand has helped the entire humanity by being the spiritual guide to millions of people around the world. He has initiated and empowered millions of people into ancient meditation practices that help to raise human consciousness. With the rise in consciousness, people learn lessons from the incidents of their life, triumph over apparent tragedies and overcome significant health issues to achieve true happiness and bliss.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="contributions_box">
          <div class="row">
            <div class="col-sm-6"><div class="shivyog_img">
              <%= image_tag "v2/medical_science_img.jpg", class: "img-fluid img-no-border" %>
            </div></div>
            <div class="col-sm-6">
              <div class="contributions_text_content">
                <div class="heading_subtitle">Medical Science</div>
                <div class="heading_title">Contributions to <span class="red-text">Medical Science</span></div>
                <p>Dr. Avdhoot Shivanand was awarded a doctorate by the D Y Patil University in Pune in recognition of his contributions to medical science. Dr. Shivanand is a cosmic scientist who is a master at tapping cosmic energy to heal the earth, soil, environment and disease. He is known for his "Science beyond Science" and "Cure is Possible" programs which are attended by hundreds of top doctors and surgeons from around the world. To learn more about his work in the medical field please visit <a target="_blank" href="https://cureispossible.org">https://cureispossible.org</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="contributions_box">
          <div class="row">
            <div class="col-sm-6"><div class="shivyog_img">
              <%= image_tag "v2/agriculture_img.jpg", class: "img-fluid img-no-border" %>
            </div></div>
            <div class="col-sm-6">
              <div class="contributions_text_content">
                <div class="heading_subtitle">Agriculture & Food</div>
                <div class="heading_title">Contributions to <span class="red-text">Agriculture & Food</span></div>
                <p>Dr. Shivanand's other major innovation is the field of Cosmic Farming. Dr. Shivanand's was saddened by the cancer statistics around the world. His investigations showed that toxicity of our food is one of the key causes of chronic disease. He knew that he could help both the common man and the farmer by changing how farming is done. He decided to revive ancient farming principles and methods from India based on Yogic sciences and mindfulness. Thus he created Shiv Yog Cosmic Farming. To learn more about Shiv Yog Cosmic Farming please visit: <a target="_blank" href="http://krishi.shivyogindia.com/">http://krishi.shivyogindia.com/</a>.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="contributions_box">
          <div class="row">
            <div class="col-sm-6"><div class="shivyog_img">
              <%= image_tag "v2/serving-mother-nature.jpg", class: "img-fluid img-no-border" %>
            </div></div>
            <div class="col-sm-6">
              <div class="contributions_text_content">
                <div class="heading_subtitle">Nature</div>
                <div class="heading_title">Contributions to <span class="red-text">Nature</span></div>
                <p>Dr. Shivanand has worked hard to preserve and protect nature and environment. His organization has ashrams in Lucknow and Karjat and a Cow Shelter (Gaushala) in Alwar, Rajasthan. All three are great examples of his contribution to nature conservation and service to animals. The cow shelter is home to nearly a thousand cows which were saved from the slaughterhouse. Through the Shiv Yog forums thousands of Shiv Yogis around world have been working tirelessly on tree planting, Cosmic Farming and service to animals.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "v2/shared/newsletter" %>
