<%= content_for(:title, "Contact Us") %>

<section id="contact-banner">
</section>

<div class="clear"></div>

<section id="what_is_shivyog">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Contact Us</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">Contact us about Starting Your Shiv Yog Journey</div>
        <p>For feedback about the website, content or guidance on how to start your Shiv Yog journey, you can send a message to the Whatsapp number below. We will try to reply within 24 hours but if the volume of requests is very high, it may take us longer. Please bear with us.</p>
        <p><strong>To start your Shiv Yog journey</strong>: </p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Attend a Shiv Yog Shivir OR</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Join a Shiv Yog Cosmic Healing Forum near you</p>

        <p><strong>You can find the list of upcoming and ongoing events on the portal below.</strong></p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>
          <%= link_to root_url, root_path %>
        </p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>Forums</strong>:
          <%= link_to v2_forums_url, v2_forums_path %>
        </p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>Upcoming Events</strong>:
          <%= link_to upcoming_v2_events_url, upcoming_v2_events_path %>
        </p>

        <div class="text-align-center">
          <div class="shivyog-btn display-inline-block">
            <a href="#"><div class="cta_button_small bg-red waves-effect">Tips On Starting Your Shiv Yog Journey</div></a>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Emails</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">In case of any queries, please contact us on below email IDs. </div>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>For bulk purchase of divine shop items requirement</strong>: <a href="mailto:divineshop@shivyogindia.com">divineshop@shivyogindia.com</a></p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>For any query of online Divine shop purchase</strong>: <a href="mailto:info@universaldivineshop.com">info@universaldivineshop.com</a></p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>For registrations, syid, password, payment deduction support</strong>: <a href="mailto:registration@shivyogindia.com">registration@shivyogindia.com</a></p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>For forum related, new forum, episode downloading issue, live shivirs queries</strong>: <a href="mailto:divineshop@shivyogindia.com">divineshop@shivyogindia.com</a></p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>For bulk purchase of divine shop items requirement</strong>: <a href="mailto:forum@shivyogindia.com">forum@shivyogindia.com</a></p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>For DSS related queries</strong>: <a href="mailto:satsang@shivyogindia.com">satsang@shivyogindia.com</a></p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>For Krishi, shivyog farming</strong>: <a href="mailto:krishi@shivyogindia.com">krishi@shivyogindia.com</a></p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>For general queries</strong>: <a href="mailto:info@shivyogindia.com">info@shivyogindia.com</a></p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><strong>If you are located outside India, please email your questions/concerns to</strong>: <a href="mailto:info@absclp.com">info@absclp.com</a></p>
      </div>

    </div>
  </div>
</section>

<div class="clear"></div>

<%= render "v2/shared/newsletter" %>
