<%= content_for(:title, "Dr. Shivanand") %>


<section id="dr-shivanand-banner">
</section>

  <div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="heading_subtitle">Who is Dr. Shivanand</div>
        <div class="dashed_divider"></div>
        <p><a href="<%= v2_dr_shivanand_path %>">Dr. Avdhoot Shivanand</a> is a celebrated Himalayan Yogi, Spiritual Scientist and Social Reformer from India. He is the founder of the Shiv Yog foundation which has been recognized the world over for its contributions to important areas of concern for human societies including medicine, education, nutrition, agriculture, horticulture and environment as well restoration of family values. Dr. Shivanand has been working tirelessly over the last several decades to raise human consciousness to create a more peaceful and compassionate world. Dr. Shivanand is also the creator of Shiv Yog forums, which are communities of positive and achievement oriented individuals. There are more than 1000 forums all over the world and the number is growing every day. Thousands of forum members in all major cities of the world are engaged in hundreds of charity projects benefiting the poor and the needy, the elderly, young school children, farmers, the sick and the homeless.</p>
      </div>
      <div class="col-sm-6">
        <%= shivyog_video_tag youtube_id: "1NV4QRECIX4",
          image: "v2/dr_shivanand_vid.jpg",
          border: true,
          sub_caption: "Dr. Avdhoot Shivanand explains the way ShivYog perceives God"
        %>

        <div class="text-align-center">
          <div class="shivyog-btn display-inline-block">
            <a href="https://en.wikipedia.org/wiki/Avdhoot_Shivanand" target="_blank"><div class="cta_button_small bg-red waves-effect">Know more about Dr. Shivanand on Wikipedia</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="dr_shivanand_talks">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="heading_subtitle">Dr. Shivanand Speaks</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">Some of Dr. Shivanand's talks shown here</div>
      </div>
    </div>
    <div class="row m-b-30">
      <div class="col-sm-4">
        <%= shivyog_video_tag youtube_id: "aY_Tqg9g8gQ",
          image: "v2/growth_video_img.jpg",
          border: false,
          caption: "Growth Comes from Forgiveness",
          sub_caption: "Dr. Shivanand speaks about Growth"
        %>
      </div>

      <div class="col-sm-4">
        <%= shivyog_video_tag youtube_id: "YG7hLTgfMAQ",
          image: "v2/unconditional_love_img.jpg",
          border: false,
          caption: "Unconditional Love",
          sub_caption: "Dr. Shivanand speaks about Unconditional love"
        %>
      </div>

      <div class="col-sm-4">
        <%= shivyog_video_tag youtube_id: "64r1nAaLbww",
          image: "v2/give_your_best_img.jpg",
          border: false,
          caption: "Give your Best",
          sub_caption: "Dr. Shivanand speaks about Act Dont React"
        %>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="seva_projects" class="margin-bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Interviews</div>
        <div class="dashed_divider"></div>

          <div class="row">
            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "NwxkU6l6Ut4",
                image: "v2/interview_video_img.jpg",
                border: true,
                caption: "ShivYog on Mauritius Broadcasting Corporation - Part 1"
              %>
            </div>
            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "czI_it450gc",
                image: "v2/interview_video_img.jpg",
                border: true,
                caption: "ShivYog on Mauritius Broadcasting Corporation - Part 2"
              %>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "rFs7-Xz6m8o",
                image: "v2/interview_video_img.jpg",
                border: true,
                caption: "ShivYog on Mauritius Broadcasting Corporation - Part 3"
              %>
            </div>
            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "F5KmX4FkNeg",
                image: "v2/interview_video_img.jpg",
                border: true,
                caption: "ShivYog on Mauritius Broadcasting Corporation - Part 3"
              %>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "K2t8wCJfAsY",
                image: "v2/impact_video_img_01.jpg",
                border: true,
                caption: "ShivYog - Science Beyond Science",
                sub_caption: "A Special Episode From History Channel"
              %>
            </div>
            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "K2t8wCJfAsY",
                image: "v2/impact_video_img_02.jpg",
                border: true,
                caption: "ShivYog - Heal Mother Earth",
                sub_caption: "A Special Episode From History Channel"
              %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="shivyog_lineage">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Invite Dr. Shivanand to Speak</div>
        <div class="dashed_divider m-b-30"></div>
        <p class="blue_bg_para">If you want Dr. Shivanand as your speaker, Please click on the below button. After clicking on the button it will open a popup where you can see a registration form. Please fill up that form and we will take care of the rest.</p>

        <div class="text-align-center">
          <div class="shivyog-btn display-inline-block popup_form" data-toggle="modal" data-target="#invitation_form">
            <div class="cta_button_small bg-red waves-effect">Invite Dr. Shivanand to Speak</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<%= render 'invitation_form' %>

<%= render "v2/shared/newsletter" %>
