<%= content_for(:title, "ShivYog at a glance") %>
<section id="read-banner">
  <div class="light_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md 12">
        <div class="banner_text">
          <div class="main_banner_heading">
            ShivYog at a glance
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="shiv-principle yog-tips">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_title">Shiv Yog at a glance</div>
        <div class="circle_area">
          <div class="circle-container">
            <p>
              <a class="center property_center" href="javascript: void(0);">
                <%= image_tag "v2/yoga-girl.png" %>
              </a>
            </p>
            <a class="deg0 property_right services_left" href="javascript: void(0);">
              <span><%= image_tag "v2/sycip-circle.png" %></span>
              <p><strong>4 qualities of the shiv yog heart</strong>shuddh bhavna (pure intention)<br> nirmal mann (a clean heart) <br>nishcal mann (stable and grounded)<br> vishaal mann (a generous heart)</p>
            </a>
            <br>
            <a class="deg30 property_right maintenance_left" href="javascript: void(0);">
              <span><%= image_tag "v2/sycip-circle.png" %></span>
              <p><strong>3 steps of the shiv yog journey</strong>form mindlessness to mindfulness<br>form mindlessness to inner consciousness<br>form inner consciousness to self-realization</p>
            </a>
            <br>
            <a class="deg60 property_right move_left" href="javascript: void(0);">
              <span><%= image_tag "v2/sycip-circle.png" %></span>
              <p><strong>the 3 steps of tattva shuddhi </strong>(purification of the five elements)<br> unconditional love  <br>unconditional forgiveness <br> unconditional acceptance</p>
            </a>
            <br>
            <br>
            <a class="deg120 property_left legal_left" href="javascript: void(0);">
              <p><strong>the 3 pillars of shiv yog </strong>sadhna (yoga and meditation)<br> nishkaam seva (selfless service) <br>sankirtan (meditative chanting)</p>
              <span><%= image_tag "v2/sycip-circle.png" %></span>
            </a>
            <br>
            <a class="deg150 property_left accounting_left" href="javascript: void(0);">
              <p><strong>the 3 qualities of a sincere seeker</strong>shraddha (dedication) <br>bhakti (devotion)<br>  vishwas (belief)</p>
              <span><%= image_tag "v2/sycip-circle.png" %></span>
            </a>
            <br>
            <a class="deg180 property_left communications_left" href="javascript: void(0);">
              <p><strong>the 3 parts of a shivyogi's day (dinachari)</strong>time for sadhna, seva and sankirtan time for worldly achievements quality time with family - love and sharing</p>
              <span><%= image_tag "v2/sycip-circle.png" %></span>
            </a>
            <br>
            <br>
          </div>
        </div>
        <div class="principle-mobile">
          <ul>
            <li><p>Based on quantum physics, all matter is made up of energy and energy is made up of vibrations.</p></li>

            <li><p>Every human body (including the organs, cells, atoms, and sub-atomic particles of an individual) has its own frequency.</p></li>

            <li><p>Further, every human being has five bodies - physical body, energy body, mind body, causal body, and super-causal body; all these five bodies have their own frequencies.</p></li>

            <li><p>An individual's thoughts have their own frequencies and thoughts are affected by the psychic impressions (residue of past traumas and negative situations - emotional and etheric toxins) stored in the causal body.</p></li>

            <li><p>An individual's cells resonate with the frequency of that individual's emotions (state of mind) which are in turn controlled by thoughts.</p></li>

            <li><p>When these frequencies go below a certain level, the individual manifests a disease. At higher frequencies, the individual experiences excellent health.</p></li>

            <li><p>Energy exchange between individuals is a fact of nature - an individual can raise the frequency of another individual by transferring positive energy.</p></li>

            <li><p>The human body is capable of producing the medicine needed for a cure from within, at healthy frequencies.</p></li>

            <li><p>By detoxifying the patient of physical, emotional, and etheric toxins and raising cellular frequencies, it is possible to achieve a cure.</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>


<section class="read-sec">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"> <%= image_tag "v2/read-img1.jpg" %>
                <div class="read-date"> Dec <span>17, 2018</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Tips on starting your Shiv Yog journey</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img2.jpg" %>
                <div class="read-date"> Sep <span>28, 2018</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Dr. Avdhoot Shivanand and his Yoga</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img3.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Advait Sri Vidya Sadhna Explained</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"> <%= image_tag "v2/read-img4.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">The Shiv Yog Journey Explained</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"> <%= image_tag "v2/read-img5.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Purify yourself on the inside to achieve success</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"> <%= image_tag "v2/read-img6.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Do not try to activate the Kundalini yourself</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img7.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">First understand that you are the scriptwriter of your life!</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img8.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Accept yourself, have faith in your abilities</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img9.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Be a student always</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img10.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Do your duty but do not worry about the results</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img11.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">7 PRINCIPLES OF SHIV YOG</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img12.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Simple and powerful principles of Shiv Yog for profound change</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img13.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">How to make your career successful?</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img14.jpg" %>
              <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Be always in a state of gratitude to connect with the divine</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img15.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">You are what you eat!</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="read-inner">
          <div class="row">
            <div class="col- col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="read-img"><%= image_tag "v2/read-img16.jpg" %>
                <div class="read-date"> Sep <span>28, 2017</span> </div>
              </div>
            </div>
            <div class="col- col-sm-12 col-md-8 col-lg-8 col-xl-8">
              <div class="orange-bg">
                <ul>
                  <li><a href="#">Shiv Yogi</a></li>
                  <li>/</li>
                  <li><a href="#">Uncategorized</a></li>
                </ul>
                <div class="heading_title"><a href="#">Become an instrument of Unconditional Love</a></div>
                <div class="banner_button">
                  <div class="cta_button_white_small">Read More</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
