<%= content_for(:title, "Seva Projects") %>

<section id="seva-projects-banner">
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
    <div class="container">
        <div class="row m-b-30">
            <div class="col-sm-12">
                <div class="heading_subtitle">ShivYog Seva Projects</div>
                <div class="dashed_divider"></div>
                <p>Shiv represents the Supreme Consciousness and Yog represents union. ShivYog thus is the state of being merged with the infinite consciousness. To know more about healing the mind, body & soul and about life transformation solutions visit this website's pages. The founder of ShivYog is <%= link_to "Dr. Avdhoot Shivanand", v2_dr_shivanand_path %> is the Master of Ancient Indian Healing, who is currently sharing the sacred secrets of healing for overall life transformation.</p>
            </div>

        </div>
    </div>
</section>

<div class="clearfix"></div>

<section id="seva_projects" class="margin-bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contributions_box">
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="shivyog_img">
                            <%= image_tag "v2/serving-mother-nature.jpg", class: "img-fluid img-no-border" %>
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contributions_text_content">
                                <div class="heading_subtitle">Service To Nature</div>
                                <div class="dashed_divider"></div>
                                <div class="heading_title">Service to nature highlights</div>
                                <p>The Shiv Yog foundation of Dr. Shivanand has conducted thousands of initiatives over decades in the service of nature which include the following activities:</p>
                                <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Tree planting initiatives</p>
                                <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Reforestation of barren and desert areas</p>
                                <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Restoration of water tables</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contributions_box">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="contributions_text_content">
                                <div class="heading_subtitle">Women Empowerment</div>
                                <div class="dashed_divider"></div>
                                <div class="heading_title">Highlights of women Empowerment</div>
                                <p>The Shiv Yog foundation has worked hard for women empowerment in rural areas by impart the knowledge and wisdom the ancient Shiv Yog lineage to them and also helping them over superstitious beliefs that hold them back.</p>
                                <p>The foundation also regularly conducts free wedding programs for rural women.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="shivyog_img">
                            <%= image_tag "v2/womenempowerment.jpg", class: "img-fluid img-no-border" %>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="contributions_box">
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="shivyog_img">
                            <%= image_tag "v2/feeding-the-hunger.jpg", class: "img-fluid img-no-border" %>
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contributions_text_content">
                                <div class="heading_subtitle">Food For All</div>
                                <div class="dashed_divider"></div>
                                <div class="heading_title">Shivyog provides food for all</div>
                                <p>The Shiv Yog foundation runs "Anna kshetras" and food donation drives in India and many countries of the world. Also the foundation runs thousands of forums across the globe and these forums carry out weekly food donations in their local areas.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contributions_box">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="contributions_text_content">
                                <div class="heading_subtitle">Service To Animals</div>
                                <div class="dashed_divider"></div>
                                <div class="heading_title">Highlights of service to animals</div>
                                <p>Dr. Shivanand has built a very large animal shelter in Alwar, Rajasthan that provides a safe shelter for cows that were being sent to the slaughterhouse. Now these cows live in complete harmony in the midst of nature and free of fear. The Alwar goshala now houses more than a 1000 cows.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="shivyog_img">
                            <%= image_tag "v2/serving-animals.jpg", class: "img-fluid img-no-border" %>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>
