<%= content_for(:title, "ShivYog Foundation") %>
<section id="about-shivyog-foundation-banner">

</section>

<section id="what_is_shivyog">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag 'v2/babaji_our_story.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-sm-6">
        <div class="heading_subtitle">About The Founder</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">Dr. Shivanand</div>
        <p>Shiv represents the Supreme Consciousness and Yog represents union. ShivYog thus is the state of being merged with the infinite consciousness. To know more about healing the mind, body & soul and about life transformation solutions visit this website’s pages. The founder of ShivYog is Dr. Avdhoot  Shivanand is the Master of Ancient Indian Healing, who is currently sharing the sacred secrets of healing for overall life transformation.</p>
      </div>

    </div>
  </div>
</section>

<div class="clear"></div>

<section id="attend_shivyog_program">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Core Purpose</div>
        <div class="dashed_divider m-b-30"></div>
        <p class="blue_bg_para m-b-30">The core purpose of the Shiv Yog foundation can be summed in this Sanskrit saying, “Loka Samastha Sukhino Bhavantu” which is a prayer and an intention for all living beings to find peace and tranquility.</p>

        <div class="heading_subtitle core-values-title">Core Values</div>
        <div class="dashed_divider m-b-30"></div>
        <div class="event_listing">
          <div class="event_title"><em>Never complain but create.</em></div>
        </div>

        <div class="event_listing">
          <div class="event_title"><em>"Vasudhaiva Kutumbakam" – the whole world is one big family!</em></div>
        </div>

        <div class="event_listing">
          <div class="event_title"><em>Every person can be the creator of his own destiny, if he so chooses.</em></div>
        </div>

        <div class="event_listing">
          <div class="event_title"><em>Love everyone, Forgive everyone and Accept everyone unconditionally.</em></div>
        </div>

        <div class="event_listing">
          <div class="event_title"><em>We own 100% responsibility for everything that happens in our lives.</em></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clear"></div>

<section id="what_is_shivyog">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="heading_subtitle">Vision</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">Happy, Healthy, peaceful world</div>
        <div class="heading_title_small">Dr. Shivanand's dreams of a happy, healthy and peaceful world:</div>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><span>A world where everyone has learned how to claim complete health as their birthright from the universe</span></p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><span>A world where everyone has access to nutrient rich, chemical free food loaded with life-force energy</span></p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><span>A world where family values are restored and people are willing to share everything they have</span></p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i><span>A world where nature has been restored to its original state and humans and other living beings have learned to co-exist and live in harmony</span></p>
      </div>

      <div class="col-sm-6">
        <%= image_tag 'v2/vision-img.jpg', class: 'img-fluid m-b-30' %>
        <div class="heading_subtitle text-align-center">Connect with Shiv Yog social platform</div>
        <div class="social_platform text-align-center">
          <ul class="social_media">
            <li>
              <%= link_to Settings.social.youtube, target: "_blank" do %>
                <span class="social_platform_youtube"></span>
              <% end %>
            </li>
            <li>
              <%= link_to Settings.social.facebook, target: "_blank" do %>
                <span class="social_platform_facebook"></span>
              <% end %>
            </li>
            <li>
              <%= link_to Settings.social.twitter, target: "_blank" do %>
                <span class="social_platform_twitter"></span>
              <% end %>
            </li>
            <li>
              <%= link_to Settings.social.instagram, target: "_blank" do %>
                <span class="social_platform_instagram"></span>
              <% end %>
            </li>
            <li>
              <%= link_to Settings.social.pinterest, target: "_blank" do %>
                <span class="social_platform_pinterest"></span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="clear"></div>

<section id="shivyog_testimonials">
  <div class="container">
    <div class="row m-b-30">
      <div class="col-sm-12">
      <div class="heading_subtitle">Mission</div>
      <div class="dashed_divider_dark m-b-30"></div>
        <div class="testimonial-carousel about-mission-carousel owl-carousel owl-theme">
          <div class="item">
            <div class="row">
              <div class="col-sm-12">
                <div class="textimonial_text_box">
                <h3>Restoration of Family Values</h3>
                  <p>"The family is the foundational unit the human society – and is just as important for the spiritual growth of a person"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-12">
                <div class="textimonial_text_box">
                <h3>Health For All</h3>
                  <p>“Perfect health is your birthright! I will help you claim it from the universe!”</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-12">
                <div class="textimonial_text_box">
                <h3>Healthy Food For All</h3>
                  <p>“It is time to stop eating poison and start eating real food – high vibrational frequency food”</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-sm-12">
                <div class="textimonial_text_box">
                <h3>Preservation & Protection of Environment</h3>
                  <p>“We need to restore and preserve the environment – we owe an enormous debt it and we have to give back to the environment!”</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clear"></div>

<section id="shivyog_paragraph">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal">
          <%= image_tag 'v2/video-img.jpg', class: 'img-fluid img-no-border' %></a></div>
      </div>
    </div>
  </div>
</section>

<div class="clear"></div>

<section id="newsletter" class="margin-bottom-0">
  <%= render 'v2/shared/newsletter' %>
</section>

<div class="clear"></div>
<%= render 'request_a_callback' %>
