<%= content_for(:title, "Dr. Shivanand Talks") %>

<section id="blog-watch-banner">
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Dr. Shivanand Talks</div>
        <div class="dashed_divider"></div>
        <p>Shiv represents the Supreme Consciousness and Yog represents union. ShivYog thus is the state of being merged with the infinite consciousness. To know more about healing the mind, body & soul and about life transformation solutions visit this website's pages. The founder of ShivYog is Avdhoot Baba Shivanand is the Master of Ancient Indian Healing, who is currently sharing the sacred secrets of healing for overall life transformation.</p>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="seva_projects" class="margin-bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Life Solutions</div>
        <div class="dashed_divider"></div>

          <div class="row">
            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "aY_Tqg9g8gQ",
                image: "v2/growth_video_img.jpg",
                border: true,
                caption: "Growth Comes from Forgiveness",
                sub_caption: "Dr. Shivanand speaks about Growth"
              %>
            </div>
            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "YG7hLTgfMAQ",
                image: "v2/unconditional_love_img.jpg",
                border: true,
                caption: "Unconditional Love",
                sub_caption: "Dr. Shivanand speaks about Unconditional love"
              %>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "64r1nAaLbww",
                image: "v2/give_your_best_img.jpg",
                border: true,
                caption: "Give your Best",
                sub_caption: "Dr. Shivanand speaks about Act Dont React"
              %>
            </div>
            <div class="col-sm-6">
              <%= shivyog_video_tag youtube_id: "MWVxQ2Wb030",
                image: "v2/science_of_shivyog_img.jpg",
                border: true,
                caption: "The science of ShivYog breathing"
              %>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-6 m-b-30">
              <%= shivyog_video_tag youtube_id: "_ULfZoie8S0",
                image: "v2/act_not_react_img.jpg",
                border: true,
                caption: "Act Not React"
              %>
            </div>
            <div class="col-sm-6 m-b-30">
              <%= shivyog_video_tag youtube_id: "slejDQ9K8Yw",
                image: "v2/cure_is_possible_img.jpg",
                border: true,
                caption: "Cure is possible"
              %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>
