<%= content_for(:title, "What are ShivYog Forums") %>

<section id="what-are-sy-forums-banner">
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row m-b-30">
      <div class="col-sm-12">
        <div class="heading_subtitle">Summary</div>
        <div class="dashed_divider"></div>
        <p>Shiv Yog forums are weekly gatherings of small groups of committed Shiv Yogis who come together to pray collectively, share positive ideas and emotions, sing and chant together, meditate and perform selfless service. <a href="<%= v2_dr_shivanand_path %>">Dr. Avdhoot Shivanand</a>, the founder of Shiv Yog, conceived and created these forums as a way to help people all over the world to experience more positivity and happiness in their lives.</p>
      </div>
    </div>

    <div class="row m-b-30">
      <div class="col-sm-6">
        <p><strong>As Dr. Shivanand says</strong>, <em>"<u>Shiv Yogis do not complain but they create.</u>"</em> Instead of complaining about an increasingly negative world where the traditional and social media are fueling the fire of negativity, the Shiv Yog way is to create positivity. Therefore, Dr. Shivanand devised the forums as a way to create more positivity in the world and raise human consciousness. As more individuals achieve a higher level of consciousness and become more positive, they will create pockets of positivity around them, in their neighborhoods, schools, offices and family networks. Shiv Yog hopes to create a more positive world by spreading positivity through forums and its myriad other initiatives. <strong>As Acharya Ishan Shivanand pointed out in a recent interview</strong>, <em>"<u>If negativity is contagious and can spread through contact, positivity is equally contagious and can be spread similarly.</u>"</em></p>
      </div>

      <div class="col-sm-6">
        <div class="shivyog_img">
          <%= image_tag "v2/sy_forums_img_01.jpg", class: "img-fluid margin-15-auto" %>
        </div>
      </div>
    </div>

    <div class="row m-b-30">
      <div class="col-sm-6">
        <div class="shivyog_img">
          <%= image_tag "v2/sy_forums_img_02.jpg", class: "img-fluid margin-15-auto" %>
        </div>
      </div>

      <div class="col-sm-6">
        <p>When you become part of a Shiv Yog forum, you are able to practice the most important aspects of the Shiv Yog lifestyle with a group of positive-minded, achievement oriented people who all want to significantly improve their lives and do social good:</p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Sadhana (Yoga and Meditation)</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Nishkaam Seva (selfless service)</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Sankirtan (Meditative Devotional Chanting)</p>

        <p>All three pillars of the Shiv Yog path listed above are designed to blast away the thick layers of negative psychic impressions* stored in a person's subtle bodies and raise an individual's consciousness.</p>
      </div>
    </div>

    <div class="row m-b-30">
      <div class="col-sm-6">
        <p>Neuroscience research has shown that positive social experiences that people enjoy when they belong to well-designed social groups (large enough but not too large) are associated with superior cognitive abilities, enhanced brain function and neuronal architecture. The same research also points out that negative social interactions can significantly impair brain function.</p>

        <p>Everyone can attest to being part of some or the other social group but very often the focus of interactions within such groups is to show off, criticize, complain and fight. Egos are bruised and people's feelings get hurt. Prolonged interactions of this type can lead to secretion of harmful hormones and chemicals in people’s bodies which over time can even result in poor emotional and physical health.</p>

        <p>However, in the context of Shiv Yog forums, groups of people come together on a weekly basis in a structured, friendly, positive and supportive environment under the guidance of their Guru. As a result of this their overall well-being significantly improves. On top of the positive social interaction, when people meditate, listen to motivational discourses and do Dhyan Sankirtan (Meditative chanting of powerful sounds in groups) alleviation of physical, mental and emotional problems can occur.</p>
      </div>
      <div class="col-sm-6">
        <div class="shivyog_img">
          <%= image_tag "v2/sy_forums_img_03.jpg", class: "img-fluid margin-15-auto" %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="what_are_sy_forums_img">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Forum members worldwide have reported significant improvements to their overall physical and mental health upon joining a forum. When the entire family attends a forum, the benefits are even more. Children learn the Shiv Yog values and learn to absorb the positive vibrations generated during the weekly forum sessions and become calmer and more well-balanced. Members have also reported improved financial conditions and performance at work.</p>

        <p>There are more than a 1000 Shiv Yog forums worldwide in all major cities of the world and their number is rapidly growing. Shiv Yog forums are quietly bringing about a revolution in the world and working weekly to improve the lives of thousands of human beings. These forum members in turn are improving the conditions of their cities and neighborhoods through their seva and philanthropy projects.</p>

        <p><em>* Psychic Impressions: As an individual goes through the stages of life, from birth to teenage, to adulthood, maturity and death, he goes through many life experiences. To each external experience he generates an internal reaction and the energy generated through this reaction gets stored in his subtle bodies. The ancient Shiv Yog masters discovered that every human being has five bodies. The body we are able to see with naked eyes is our physical body. However, there are four other bodies that are subtle – the etheric body, the astral body, the causal body and the super-causal body. Shiv Yog says, all the psychic impressions generated during the course of an individual’s life are stored in the causal body. As these psychic impressions are strengthened and reinforced through repeated reactions of the same type, they tend to mature and manifest as various types of problems in a person's life, especially physical and mental disease.</em></p>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="shivyog_wonders">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="heading_subtitle">Wonders of ShivYog Forum</div>
      <div class="dashed_divider"></div>
      <%= shivyog_video_tag youtube_id: "KW_DWxulEqU",
        image: "v2/shivyog_wonders_img.jpg",
        border: true
      %>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="benefits_of_joining">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Benefits of joining</div>
        <div class="dashed_divider"></div>
        <p>Shiv Yog forums are weekly gatherings of small groups of committed Shiv Yogis who come together to pray collectively, share positive ideas and emotions, sing and chant together, meditate and perform selfless service. Dr. Avdhoot Shivanand, the founder of Shiv Yog, conceived and created these forums as a way to help people all over the world to experience more positivity and happiness in their lives.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="sy_forums_box">
          <div class="sy_forums_icon"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
          <div class="sy_forums_title">Join a Forum</div>
          <div class="sy_forums_text">
            If you want to Join a Shiv Yog Forum Please click on the below button. After clicking on on the button It will open a popup where you can see a registration form. Please fill up that form and we will take care of the rest.
          </div>
          <div class="sy_forums_btn">
            <div class="shivyog-btn">
              <%= link_to "Join a Forum", v2_forums_path, class: "cta_button_small bg-red waves-effect" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sy_forums_box">
          <div class="sy_forums_icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
          <div class="sy_forums_title">Create a Forum</div>
          <div class="sy_forums_text">
            If you want to create a Shiv Yog Forum Please click on the below button. After clicking on on the button It will open a popup where you can see a registration form. Please fill up that form and we will take care of the rest.
          </div>
          <div class="sy_forums_btn">
            <div class="shivyog-btn display-inline-block cta_button_small bg-red waves-effect" data-toggle="modal" data-target="#create_a_forum_form">Create a Forum</div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sy_forums_box">
          <div class="sy_forums_icon"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
          <div class="sy_forums_title">Share Your Experience</div>
          <div class="sy_forums_text">
            If you want to share your experience Please click on the below button. After clicking on on the button It will open a popup where you can see a registration form. Please fill up that form and we will take care of the rest.
          </div>
          <div class="sy_forums_btn">
            <div class="shivyog-btn display-inline-block cta_button_small bg-red waves-effect" data-toggle="modal" data-target="#share_your_experience_form">Share your Experience</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="dr_shivanand_talks">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="heading_subtitle">Watch people sharing their experience with Shiv Yog</div>
        <div class="dashed_divider"></div>
      </div>
    </div>
    <div class="row m-b-30">
      <div class="col-sm-6">
        <%= shivyog_video_tag youtube_id: "L72lMnByNTw",
          image: "v2/sy_forums_video_01.jpg",
          border: true,
          caption: "A seeker from Canada speaks his heart out on Shiv Yog"
        %>
      </div>

      <div class="col-sm-6">
        <%= shivyog_video_tag youtube_id: "8ctjF4SERCY",
          image: "v2/sy_forums_video_02.jpg",
          border: true,
          caption: "Celebrities Speak - Hema Malini"
        %>
      </div>

      <div class="clearfix"></div>

      <div class="col-sm-6">
        <%= shivyog_video_tag youtube_id: "4AiOxWClk2A",
          image: "v2/sy_forums_video_03.jpg",
          border: true,
          caption: "Celebrities Speak - Koel Mallick"
        %>
      </div>

      <div class="col-sm-6">
        <%= shivyog_video_tag youtube_id: "jgqIabyhR3I",
          image: "v2/sy_forums_video_04.jpg",
          border: true,
          caption: "Dr. Raka Singh - Miraculous experiences in caesarean deliveries"
        %>
      </div>
    </div>
  </div>
</section>

<%= render "v2/shared/newsletter" %>
<%= render 'create_forum_form', forum_request: @forum_request %>
<%= render 'share_your_experience_form' %>
