
<div class="eventCntrl">
    <div class="headingtittle-h2 text-center">
        <h2>Event Registration</h2>
        <span class="subheading"><%= @event.event_name_with_location %></span>
    </div>
    <div class="boxsection-lg boxsection-xs boxshadow prelative">
      <%= render 'events/event_registration_header' %>
        <div class="registrationStatus">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headtittle">
                        <h2>Registration Summary</h2>
                    </div>
                    <div class="paymenttable">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th class="">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="primarybold">Event</td>
                                        <td class=""><%= @event.try(:event_name_with_location) %></td>
                                    </tr>
                                    <tr>
                                        <td class="primarybold">Registration Date</td>
                                        <td class=""><%= @event_order.try(:created_at).try(:strftime, ('%B %d,%Y ')) %></td>
                                    </tr>
                                    <tr>
                                        <td class="primarybold">Registration Reference Number</td>
                                        <td class=""><%= @event_order.try(:reg_ref_number) %></td>
                                    </tr>
                                    <tr>
                                        <td class="primarybold">Status</td>
                                        <td class="primary-color"><%= @event_order.try(:status).try(:titleize) %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <% if @payment.present? %>
                    <div class="col-sm-12">
                        <div class="headtittle">
                            <h2><%= @gateway[:payment_method] %> Details</h2>
                        </div>
                        <div class="paymenttable">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th class="">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if @gateway[:payment_method] == 'Demand draft' %>
                                          <tr>
                                              <td class="primarybold">Demand Draft Number</td>
                                              <td class=""><%= @payment.try(:dd_number) %></td>
                                          </tr>
                                          <tr>
                                              <td class="primarybold">Demand Draft Date</td>
                                              <td class=""><%= @payment.try(:dd_date) %></td>
                                          </tr>
                                          <tr>
                                              <td class="primarybold">Bank Name</td>
                                              <td class=""><%= @payment.try(:bank_name) %></td>
                                          </tr>
                                        <% end %>
                                        <tr>
                                            <td class="primarybold">Payment Date</td>
                                            <td class=""><%= @payment.try(:created_at).try(:strftime, ('%B %d, %Y ')) %></td>
                                        </tr>
                                        <tr>
                                            <td class="primarybold">Registration Fees</td>
                                            <td class=""><%= "#{@currency} #{number_with_precision(((@event_order.try(:tax_details) || {})['original_amount'] + (@event_order.try(:tax_details) || {})['total_discount']).rnd, precision: 2)}" %></td>
                                        </tr>
                                        <tr>
                                            <td class="primarybold"><%= (@event_order.try(:tax_details) || {})['total_discount'].rnd.negative? ? 'Payable Discount' : 'Discount' %></td>
                                            <td class=""><%= "#{@currency} #{number_with_precision((@event_order.try(:tax_details) || {})['total_discount'].rnd.abs, precision: 2)}" %></td>
                                        </tr>
                                        <tr>
                                            <td class="primarybold">Amount</td>
                                            <td class=""><%= "#{@currency} #{number_with_precision((@event_order.try(:tax_details) || {})['original_amount'].rnd, precision: 2)}" %></td>
                                        </tr>
                                        <% ((@event_order.try(:tax_details) || {})['tax_breakup'] || {}).each do |tax| %>
                                          <tr>
                                              <td class="primarybold"><%= tax['tax_name'] %></td>
                                              <td class=""><%= "#{@currency} #{number_with_precision(tax['amount'].rnd, precision: 2)}" %></td>
                                          </tr>
                                        <% end %>
                                        <tr>
                                            <td class="primarybold">Total Tax (<%= (@event_order.try(:tax_details) || {})['total_tax_percentage'] %>%)</td>
                                            <td class=""><%= "#{@currency} #{number_with_precision((@event_order.try(:tax_details) || {})['total_tax_applied'].rnd, precision: 2)}" %></td>
                                        </tr>
                                        <tr>
                                            <td class="primarybold">Transaction Charges</td>
                                            <td class=""><%= "#{@currency} #{number_with_precision(((@event_order.try(:tax_details) || {})['transaction_charges'] || (@event_order.try(:tax_details) || {})['convenience_charges']).rnd, precision: 2)}" %></td>
                                        </tr>
                                        <% ((@event_order.try(:tax_details) || {})['tax_breakup_on_convenience_charges'] || {}).each do |tax| %>
                                          <tr>
                                              <td class="primarybold"><%= tax['tax_name'] %> (<%= tax['percent'] %>%)</td>
                                              <td class=""><%= "#{@currency} #{number_with_precision(tax['amount'].rnd, precision: 2)}" %></td>
                                          </tr>
                                        <% end %>
                                        <tr>
                                            <td class="primaryblackbold">Net Amount</td>
                                            <td class=""><%= "#{@currency} #{number_with_precision((@event_order.try(:tax_details) || {})['total_payable_amount'].rnd, precision: 2)}" %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <% end %>
                <div class="col-sm-12">
                    <div class="headtittle">
                        <h2>Registration Summary</h2>
                    </div>
                    <div class="tableCntrl tableheight mCustomScrollbar">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Registration Number</th>
                                        <th>SYID</th>
                                        <th>Name</th>
                                        <th>Seating Category</th>
                                        <th>Discount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% (@event_order_line_items || []).each_with_index do |item, item_index| %>
                                    <tr>
                                        <td><%= item_index + 1 %>.</td>
                                        <td><%= item.event_registration.try(:serial_number).to_i + 100%></td>
                                        <td><%= item.syid %></td>
                                        <td><%= item.full_name %></td>
                                        <td>
                                            <div class="textgroup">
                                                <p><%= item.category_name %></p>
                                                <span><%= "#{@currency} #{item.category_price.rnd}" %></span>
                                            </div>
                                        </td>
                                        <td><%= @currency + ' ' + '%.2f' % discount_per_sadhak(item).to_f %></td>
                                    </tr>
                                  <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mg-b20 mg-t20">
                <div class="col-sm-12">
                    <div class="eventoption text-center">
                        <p class="tagtittle">Please Download and keep your details with you</p>
                        <div class="eventaction">
                            <%= link_to "Download", polymorphic_url(@event_order, action: :registration_receipt) , class: 'btn btn-info addmember-btn', target: '_blank' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

