<% content_for(:title, 'Admin | Ticket Type') %>

<div class="adminCntrl">
    <div class="headingtittle-h2 text-center">
        <h2>Admin Panel</h2>
    </div>
    <div class="row">
        <div class="overflow-row">
            <%= render 'admin/admin_left_panel' %>
            <div class="rightCntrl">
                <div class="boxsection-lg boxsection-xs boxshadow prelative">
                    
                    <div class="rightContent">
                      <div id="ticket_types">
                          <div class="row">
                              <div class="col-sm-12 mg-b30">
                                   <div class="headtittle text-center">
                                      <h2>Ticket Types</h2>
                                  </div>
                              </div>
                              <div class="col-sm-12">
                                  <%= render "ticket_types/form"%>
                                  <a href="#Registercenters" class="refinemenu primary-color" data-toggle="collapse" aria-expanded="true"><i class="fa fa-filter" aria-hidden="true"></i> Refine</a>
                                  <div class="refineCntrl collapse in" aria-expanded="true" id="Registercenters" role="tablist">
                                    <form action="<%= ticket_types_path %>" class="table-screen-next">
                                      <div class="refinesub-group">
                                          <div class="row">
                                              <div class="col-sm-6">
                                                  <div class="outbox">
                                                      <label>Search By Name</label>
                                                      <div class="box bordered-input">
                                                         <div class="dropdown dropdown-field">
                                                            <input type="text" class="form-control noBorder field" placeholder="Search name" name="ticket_type_name", value="<%= params[:ticket_type_name] %>">  
                                                         </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="outbox">
                                                      <label>Search By Name</label>
                                                      <div class="box bordered-input dropdown">
                                                         <div class="dropdown-field selectTwo-dropdown">
                                                            <%= select_tag(:ticket_group_name , options_for_select(TicketGroup.pluck(:name, :id), params[:ticket_group_name]), {prompt: 'Select Status', class: 'basic-single'}) %> 
                                                         </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-sm-12">
                                                  <div class="pannel-btn text-right">
                                                      <%= link_to "CLEAR", ticket_types_path, class: 'btn btn-danger mg-r10' %>
                                                      <button class="btn btn-info">SEARCH</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </form>
                                  </div>
                              </div>
                              <% if @ticket_types.present? %>
                                <div class="col-sm-12">
                                    <div class="tableCntrl">
                                        <div class="table-responsive tableScrollbar">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Group Name</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  <% @ticket_types.each do |ticket_type|%>
                                                    <tr>
                                                        <td><%= ticket_type.ticket_type %></td>
                                                        <td><%= ticket_type.ticket_group_name %></td>
                                                        <td class="text-center">
                                                            <%= link_to "", edit_ticket_type_path(ticket_type), class: "mg-r10 primary-color fa fa-pencil" %>
                                                            <%= link_to "", ticket_type_path(ticket_type), method: :delete,data: { confirm: "Are you sure?" }, class: " primary-color fa fa-trash-o"%>
                                                        </td>
                                                    </tr>
                                                  <% end %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-pagination">
                                            <div class="show-pgnation">
                                                <p class="primarybold"><%= custom_page_entries_info(@ticket_types) %></p>
                                            </div>
                                            <%= paginate @ticket_types %>
                                        </div>
                                    </div>
                                </div>
                              <% else %>
                                <%= render partial: 'application/no_records', locals: {message: 'No Ticket Type Found.'} %>
                              <% end %>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
