<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Shivyog Information</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode td a img { border:solid 1px #777777; height:170px; width:170px; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
          <td id="header" colspan="2" style="border-bottom: 1px solid #900;  background: #900;" height='80px'>
            <a href=<%="#{Rails.application.config.app_base_url}"%>><img src="http://www.shivyog.com/wp-content/uploads/2015/03/sy_logo_orange.png" width="40%" height="56" alt="Shivyog Emerging Infinite"></a>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
          <tr class="episode">
            <td>
              <a href="#"><img src="https://dmhtmt59mq15j.cloudfront.net/assets/images/pic3-2597e250cc000b0043c28b1fcbfe91cc.jpg" height="185px"></a>
            </td>
            <td valign="top">
              Below are the approved activity type details:
              <br><br>
              <b>Activity type name:</b> <%=@club_event_association.event_type.name %>
              <br><br>
              <b>Forum name:</b> <%=@club_event_association.sy_club.name %>
              <!--
                <br><br><a href=<%#="#{Rails.application.config.app_base_url}/#/club-organize/#{@club_event_association.sy_club.id}/activities?mode=activities" %>>
              -->
              <br><br><a href=<%="#{Rails.application.config.app_base_url}/" %>>      
            Click here</a> to check activity type.
            </td>
          </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p>If you need any help, please mail us at <a style="color:#900;" href="mailto:info@shivyog.com"><i>info@shivyog.com</i></a></p>
            <p>&copy;<%=Date.current.year%> Shiv Yog. All Rights Reserved.</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>