<body style="margin:0px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EAE8E8" style="font-family:Verdana, Geneva, Helvetica, Arial, sans-serif;">
    <tr>
      <td>  
        <table width="80%" border="0" cellspacing="0" cellpadding="0" style="padding:10px 0; margin:0 auto;">
          <tr style=" width: 100%;  border-bottom: 1px solid #900;  background: #900;">
            <td style="padding: 10px;"><a href="#"><img src="https://dmhtmt59mq15j.cloudfront.net/assets/images/logo.png" alt=""></a></td>        
          </tr>
          <tr>
            <% if @razorpay.present? %>
            <td style="padding: 20px 0; text-align: center; font-size: 1em; font-weight: bold; color:#900; line-height: 24px;">You have successfully registered with transaction id <%= @razorpay.razorpay_payment_id %> with us. Below are the details regarding your registration. </td>     
            <% end %>
          </tr>
          <tr>
            <td style="text-align: center; font-size:1.2em; font-weight: bold; color:#900; padding-bottom: 10px;">Status</td>        
          </tr>
          <tr>
            <td align="center">
              <table border="0" width="100%"cellpadding="0" cellspacing="0" style=" border: 1px solid #ccc;">
                <tr>
                  <td width="70%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size:1.2em; color: #252525; padding:10px;">
                   <% if @razorpay.event_order.event.entity_type == 'product'%>
                      Product:
                  <% else %>
                    Event
                  <% end %>
                  </td>
                  <td width="30%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <%=@razorpay.event_order.event.event_name_with_location%>
                  </td>
                </tr>
                <% if @razorpay.event_order.event.entity_type == 'product' and @razorpay.event_order.event.event_end_date.present? %>
                  <tr>
                    <td width="70%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px;">
                      Event Date:
                    </td>
                    <td width="30%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                      <%= @razorpay.event_order.event.event_end_date%>
                    </td>
                  </tr>
                <% else %>
                  <tr>
                    <td width="70%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px;">
                      Event Date:
                    </td>
                    <td width="30%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                      <%=@razorpay.event_order.event.event_date%>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td width="70%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px; ">
                    Registration Reference Number:
                  </td>
                  <td width="30%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <%= @razorpay.event_order.reg_ref_number %>
                  </td>
                </tr>
                <tr>
                  <td width="70%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px; ">
                    Status:
                  </td>
                  <td width="30%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <%= @razorpay.status %>
                  </td>
                </tr>
                <tr>
                  <td width="70%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px; ">
                    <b>Total paid amount:</b>
                  </td>
                  <td width="30%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <b><%= @razorpay.amount.to_f.round(2) %></b>
                  </td>
                </tr>                            
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" style="text-align: center; font-size:1.2em; font-weight: bold; color:#900; padding: 20px;">Registered users</td>                        
          </tr>
          <tr>
            <td align= "<%= @razorpay.event_order.event_order_line_items.count == 1 ? 'center' : '' %>" >
              <% @razorpay.event_order.event_order_line_items.each_with_index do |line_item, index| %>
              <table border="0" width="300"  cellpadding="0" cellspacing="0" align="<%= @razorpay.event_order.event_order_line_items.count == 1 ? 'center' : index%2 == 0 ? 'left' : 'right' %>"  style=" border: 1px solid #ccc;  margin: 0px 0px 20px 0; display: inline-table;">
                <tr>
                  <td width="50%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px;">
                    S.No.:
                  </td>
                  <td width="50%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <%= index+1 %>
                  </td>
                </tr>
                <tr>
                  <td width="50%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px; ">
                    Registration No:
                  </td>
                  <td width="50%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <%= @razorpay.event_order.event.sy_event_company_id.present? ? (line_item.event_registration.serial_number + 100) : line_item.registration_number %>
                  </td>
                </tr>
                <tr>
                  <td width="50%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px; ">
                    SYID:
                  </td>
                  <td width="50%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <% if line_item.sadhak_profile.present? %>
                    <%= line_item.sadhak_profile.syid %>
                  </td>
                </tr>
                <tr>
                  <td width="50%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px; ">
                    Name:
                  </td>
                  <td width="50%" align="left" bgcolor="#EEEEEE" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <%= line_item.sadhak_profile.full_name.titleize %>
                  </td>
                  <% end %>
                </tr>
                <% if line_item.event_seating_category_association.present? %>
                <tr>
                  <td width="50%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.2em; color: #252525; padding:10px; ">
                    <% if @razorpay.event_order.event.entity_type.nil? %>
                      Seating Category
                    <% else %>
                      Category
                    <% end %>
                  </td>
                  <td width="50%" align="left" bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, Helvetica, Arial, sans-serif; font-size: 1.0em; color: #252525; padding:10px; ">
                    <%= line_item.event_seating_category_association.seating_category.category_name.titleize %>
                  </td>
                </tr>
              <% end %>
              </table>
              <% end %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
