<div class="panel">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#sp_accordion_id" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="more-less glyphicon glyphicon-minus"></i>
                <%if @sadhak_profile.is_basic_profile_complete?%>
                <i class="success-btn">
                 <%= image_tag "check-mark.png" %>
                </i>
                <% else %>
                <i class="error-btn"><%= image_tag "warning.png" %></i>
                <% end %>
                <span>Basic Information</span>
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
        <%= form_for @sadhak_profile, html: { id: 'edit_sadhak_profile_basic_info' } do |f| %>
          <%= f.hidden_field :sp_accordion_id, value: 'collapseOne', id: 'sadhak_profile_basic_info_accodion_id'  %>
            <div class="row">
                <div class="col-sm-6">
                    <div class="box bordered-input">
                       <label class="asterisk">First Name</label>
                       <span class="infodetails">( As mentioned in your photo ID proof )</span>
                       <div class="dropdown dropdown-field">
                          <%= f.text_field :first_name, class: "form-control noBorder field", required: 'required', placeholder: "First name"%> 
                       </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box bordered-input">
                       <label>Last Name</label>
                       <span class="infodetails">( As mentioned in your photo ID proof )</span>
                       <div class="dropdown dropdown-field">
                          <%= f.text_field :last_name, class: "form-control noBorder field", placeholder: "Last name"%> 
                       </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box bordered-input">
                       <label class="asterisk">Gender</label>
                       <div class="gender">
                            <ul class="clearfix list-unstyled">
                                <% %w( male female ).each_with_index do |gender, index| %>
                                  <li>
                                        <div class="Custradio">
                                            <%= f.radio_button :gender, gender, class: "radiotype", required: 'required', checked: f.object.gender == gender || (!f.object.gender.present? && index.zero?) %>
                                            <%= label_tag "gender#{gender}", gender.humanize %>
                                        </div>
                                    </li>
                                  <% end %>
                            </ul>
                       </div>
                    </div>
                </div>
                <div class="col-sm-6">
                  <% uniq_token = SecureRandom.uuid %>
                  <div class="box bordered-input clearfix">
                       <label class="asterisk">Date of Birth</label>
                       <!-- <span class="infodetails">( Eligibility <%= SADHAK_MIN_AGE %> years and above )</span> -->
                        <div class="input-group dropdown-field  calenderdate date" id="<%= uniq_token %>_start" data-syDatepickerId="<%= uniq_token %>" data-role="syDatepicker"  data-maxStartDate="<%= DateTime.current.change(hour: 23, minutes: 59, sec: 59)%>" data-minStartDate="<%= Date.today - SADHAK_MAX_AGE.years %>" data-defaultDate='<%= DateTime.current.years_ago(SADHAK_MIN_AGE) %>'>
                          <%= f.text_field :date_of_birth, class: 'form-control noBorder field',placeholder: Date.current.strftime('%b %d, %Y'), required: 'required', readonly: true, value: f.object.try(:date_of_birth).try(:strftime, '%b %d, %Y')%>
                            <span class="input-group-addon">
                                <button type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </span>
                        </div>
                  </div>
                </div>
            </div>
            <div class="shivyog-sepeator"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="headtittle"><h2>Address</h2></div>
                </div>
                <%= f.fields_for :address do |ff|%>
                  <!-- Commented Search as per discussion -->
                    <!-- <div class="col-sm-12">
                        <div class="box bordered-input">
                           <label>Search Address</label>
                           <div class="dropdown dropdown-field">
                            <div class="input-group box-input-group">
                              <span class="input-group-addon"><i class="icon-google-maps"></i></span>
                              <%#= text_field_tag :autocomplete_search, "", class: 'form-control noBorder field', "data-google-address-autocomplete": 'autocomplete', placeholder: "Search address" %>
                            </div>
                           </div>
                        </div>
                    </div>   -->                  
                    <div class="col-sm-6">
                        <div class="box bordered-input">
                           <label class="asterisk">Address Line 1</label>
                           <div class="dropdown dropdown-field">
                            <%= ff.text_field :first_line, class: 'form-control noBorder field', required: 'required', placeholder: "First line address"%>
                           </div>
                        </div>
                    </div>                    
                    <div class="col-sm-6">
                        <div class="box bordered-input">
                           <label>Address Line 2</label>
                           <div class="dropdown dropdown-field">
                            <%= ff.text_field :second_line, class: 'form-control noBorder field', placeholder: "Second line address"%>
                           </div>
                        </div>
                    </div>
                    <%= render 'country_state_city_select', f: ff %>
                    <div class="col-sm-6">
                        <div class="box bordered-input">
                           <label class="asterisk">Postal Code</label>
                           <div class="dropdown dropdown-field">
                            <%= ff.text_field :postal_code, class: "form-control noBorder field", required: 'required', placeholder: "Postal code"%>
                           </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="headtittle">
                      <h2>Contact 
                      <%if f.object.is_verified? %>
                        <span class="infodetails success-color floatdetails"> Verified</span>
                      <% else %>
                        <span class="infodetails">( Please Verify your Mobile or Email )</span>
                        <span class="infodetails primary-color floatdetails"> Not Verified</span>
                        </h2>
                      <%end%>
                    </div>
                </div>
                <div class="col-sm-6">
                  <div class="box bordered-input">
                     <label class="asterisk">Mobile Number</label>
                     <span class="infodetails success-color floatdetails"><%= 'Verified' if f.object.mobile.present? && f.object.is_mobile_verified?%></span>
                     <div class="dropdown dropdown-field numbercode clearfix">
                        <div class="input-group">
                          <span class="input-group-addon code telephone_prefix_code <%= "active" if f.object.mobile.present? %>" id="basic-addon2">+<%= f.object.try(:address).try(:db_country).try(:telephone_prefix) || 91 %> </span>
                          <%= f.text_field :mobile, class: "form-control noBorder field code-input", placeholder: "Mobile number", "aria-describedby": "basic-addon2"%>
                        </div>
                     </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="box bordered-input">
                       <label class="asterisk">Email</label>
                       <span class="infodetails success-color floatdetails"><%= 'Verified' if f.object.email.present? && f.object.is_email_verified?%></span>
                       <div class="dropdown dropdown-field">
                        <%= f.email_field :email, class: 'form-control noBorder field', autocomplete: "off", placeholder: "Email"%>
                       </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pannel-btn">
                        <%= button_tag "CLEAR", :type => 'reset', class: 'btn btn-danger mg-r10 turbolinkReload' %>
                        <%= f.submit  "SAVE", class: ' btn btn-info' %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>