<div class="heading_subtitle text-align-center">Connect with Shiv Yog social platform</div>
<div class="social_platform text-align-center">
  <ul class="social_media">
    <li>
      <%= link_to Settings.social.youtube, target: "_blank" do %>
        <span class="social_platform_youtube"></span>
      <% end %>
    </li>
    <li>
      <%= link_to Settings.social.facebook, target: "_blank" do %>
        <span class="social_platform_facebook"></span>
      <% end %>
    </li>
    <li>
      <%= link_to Settings.social.twitter, target: "_blank" do %>
        <span class="social_platform_twitter"></span>
      <% end %>
    </li>
    <li>
      <%= link_to Settings.social.instagram, target: "_blank" do %>
        <span class="social_platform_instagram"></span>
      <% end %>
    </li>
    <li>
      <%= link_to Settings.social.pinterest, target: "_blank" do %>
        <span class="social_platform_pinterest"></span>
      <% end %>
    </li>
  </ul>
</div>
