
<div class="adminCntrl">
    <div class="headingtittle-h2 text-center">
        <h2>Admin Panel</h2>
    </div>
    <div class="row">
        <div class="overflow-row">
            <%= render 'admin/admin_left_panel' %>
            <div class="rightCntrl">
                <div class="boxsection-lg boxsection-xs boxshadow prelative">
                    <div class="rightContent">
                        <!-- ********  Application status *********** -->
                        <div id="applicationstatus" class="">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="headtittle text-center">
                                        <h2>Authorization Status</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row mg-t30 mg-b30">
                                <form action="">
                                    <div class="col-sm-12">
                                        <a href="#applicationRefine" class="refinemenu primary-color" data-toggle="collapse" aria-expanded="true"><i class="fa fa-filter" aria-hidden="true"></i> Refine</a>
                                        <div class="refineCntrl collapse in" aria-expanded="true" id="applicationRefine" role="tabpanel">
                                            <div class="refinesub-group clearfix">
                                                <div class="col-sm-6">
                                                    <div class="outbox">
                                                        <label class="asterisk">SYID</label>
                                                        <div class="box bordered-input">
                                                            <div class="dropdown dropdown-field">
                                                                <input type="text" class="form-control noBorder field" placeholder="SYID" name="syid" value="<%= params[:syid] %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="outbox">
                                                        <label class="asterisk">Name</label>
                                                        <div class="box bordered-input">
                                                            <div class="dropdown dropdown-field">
                                                                <input type="text" class="form-control noBorder field" placeholder="Name" name="search_name" value="<%= params[:search_name] %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="outbox">
                                                        <label class="asterisk">Email</label>
                                                        <div class="box bordered-input">
                                                            <div class="dropdown dropdown-field">
                                                                <input type="text" class="form-control noBorder field" placeholder="Email" name="email" value="<%= params[:email] %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="outbox">
                                                        <label class="asterisk">Provider</label>
                                                        <div class="box bordered-input dropdown">
                                                            <div class="dropdown-field selectTwo-dropdown">
                                                                <%= select_tag 'provider_name',options_for_select(Authorization::SOCIAL_PROVIDERS.map{|k,v| [v[:provider_name], v[:provider_name]]}, params[:provider_name]),{ class: 'simple-single', prompt: '----- Select -----' }%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="pannel-btn text-right">
                                                        <%= link_to "CLEAR", authorizations_admin_index_path, class: "btn btn-danger mg-r10" %>
                                                        <button class="btn btn-info">SEARCH</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="shivyog-sepeator"></div>
                            <% if @authorizations.present? %>
                                <div class="row mg-t30">
                                    <div class="col-sm-12">
                                        <div class="Boxdrop dropdown">
                                            <%= render 'application/per_page' %>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="tableCntrl">
                                            <div class="table-responsive tableScrollbar">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Provider Name</th>
                                                            <th>Associated SYID</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% @authorizations.each do |authorization| %>
                                                            <%= render partial: "authorization_row_data", locals: { authorization_row_data: authorization } %>
                                                        <% end %>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="table-pagination">
                                                <div class="show-pgnation">
                                                    <p class="primarybold"><%= custom_page_entries_info(@authorizations) %></p>
                                                </div>
                                                <%= paginate @authorizations %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% else %>
                                <%= render partial: 'application/no_records', locals: { message: "No Authorizations Found." }  %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>