<% content_for(:title, 'Admin | Event Cancellation Plan') %>

<div class="adminCntrl">
  <div class="headingtittle-h2 text-center">
  <h2>Admin Panel</h2>
  </div>
  <div class="row">
    <div class="overflow-row">
      <%= render 'admin/admin_left_panel' %>
      <div class="rightCntrl">
          <div class="boxsection-lg boxsection-xs boxshadow prelative">
       
              <div class="rightContent">
                <div id="event_cancellation_plans">
                    <div class="row">
                        <div class="col-sm-12 mg-b30">
                             <div class="headtittle text-center">
                                <h2>Event Cancellation Plans</h2>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <%= render "event_cancellation_plans/form"%>
                            <a href="#Registercenters" class="refinemenu primary-color" data-toggle="collapse" aria-expanded="true"><i class="fa fa-filter" aria-hidden="true"></i> Refine</a>
                            <div class="refineCntrl collapse in" aria-expanded="true" id="Registercenters" role="tablist">
                              <form action="<%= event_cancellation_plans_path %>" class="table-screen-next">
                                <div class="refinesub-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="outbox">
                                                <label>Search By Name</label>
                                                <div class="box bordered-input">
                                                   <div class="dropdown dropdown-field">
                                                      <input type="text" class="form-control noBorder field" placeholder="Search name" name="event_cancellation_plan_name", value="<%= params[:event_cancellation_plan_name] %>">  
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="pannel-btn text-right">
                                                <%= link_to "CLEAR", event_cancellation_plans_path, class: 'btn btn-danger mg-r10' %>
                                                <button class="btn btn-info">SEARCH</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </form>
                            </div>
                        </div>
                        <% if @event_cancellation_plans.present? %>
                          <div class="col-sm-12">
                              <div class="tableCntrl">
                                  <div class="table-responsive tableScrollbar">
                                      <table class="table">
                                          <thead>
                                              <tr>
                                                  <th>Name</th>
                                                  <th class="text-center">Action</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                            <% @event_cancellation_plans.each do |event_cancellation_plan|%>
                                              <tr>
                                                  <td><%= event_cancellation_plan.name %></td>
                                                  <td class="text-center">
                                                      <%= link_to "Add Config", event_cancellation_plan_event_cancellation_plan_items_path(event_cancellation_plan), class: "mg-r10 primary-color " %>
                                                      <%= link_to "", edit_event_cancellation_plan_path(event_cancellation_plan), class: "mg-r10 primary-color fa fa-pencil" %>
                                                      <%= link_to "", event_cancellation_plan_path(event_cancellation_plan), method: :delete,data: {confirm: "Are you sure?"}, class: " primary-color fa fa-trash-o"%>
                                                  </td>
                                              </tr>
                                            <% end %>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="table-pagination">
                                      <div class="show-pgnation">
                                          <p class="primarybold"><%= custom_page_entries_info(@event_cancellation_plans) %></p>
                                      </div>
                                      <%= paginate @event_cancellation_plans %>
                                  </div>
                              </div>
                          </div>
                        <% else %>
                          <%= render partial: 'application/no_records', locals: {message: 'No Event Cancellation Plan Found.'} %>
                        <% end %>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>    
</div>
