<section id="awards-recognitions-banner">
  <div class="light_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md 12">
        <div class="banner_text">
          <div class="main_banner_heading">
            Kriya ShivYog
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="course_detail_section">
  <div class="container text-align-center">
    <div class="row">
      <div class="col-sm-6">
        <div class="heading_title">Introduction</div>
        <p class="text-align-center"><em>"Live a 200% life - 100% focused on inner growth and 100% focused on external success! Shiv Yog meditation is a potent, powerful tool to calm your mind and bring an all-pervading sense of peace into your life. It takes you from a state of unease to a state of quiet mindfulness. To start your journey attend a Shiv Yog Intro program at a location nearest to you."</em></p>
      </div>

      <div class="col-sm-6 text-align-center">
        <div class="heading_subtitle red-text">Expires in</div>
        <div id="course_expiry_div">
          <div> <span class="days"></span>
            <div class="smalltext">Days</div>
          </div>
          <div> <span class="hours"></span>
            <div class="smalltext">Hours</div>
          </div>
          <div> <span class="minutes"></span>
            <div class="smalltext">Minutes</div>
          </div>
          <div> <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>



<section id="course_toc" class="overflow-visible">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 clearfix">
        <div class="header">
          <h2 class="text-align-center"><em><strong>Day 01</strong></em></h2>
        </div>
        <div class="course_box hover_shadow">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal">
               <%= image_tag "v2/video-img.jpg", class: "img-fluid img-no-border" %>
            </a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog Day 01</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
            <div class="course_level"><i class="fa fa-eye" aria-hidden="true"></i> 35K</div>
            <div class="course_level"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 2,456</div>
          </div>
          <div class="teacher_pic m-10-auto">
            <a target="_blank" href="Javascript: void(0);">
              <%= image_tag "v2/teacher_pic_small", class: "img-fluid" %>
            </a>
          </div>

          <div class="heading_subtitle m-0-auto"><strong><a target="_blank" href="Javascript: void(0);">Karen Emry</a></strong></div>
          <div class="grey-text text-align-center">Instructor</div>


        </div>
      </div>

      <div class="col-sm-6 clearfix">
        <div class="header">
          <h2 class="text-align-center"><em><strong>Day 02</strong></em></h2>
        </div>
        <div class="course_box hover_shadow">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal">
               <%= image_tag "v2/video-img.jpg", class: "img-fluid img-no-border" %>
            </a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog Day 02</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Intermediate</div>
            <div class="course_level"><i class="fa fa-eye" aria-hidden="true"></i> 35K</div>
            <div class="course_level"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 2,456</div>
          </div>
          <div class="teacher_pic m-10-auto">
            <a target="_blank" href="Javascript: void(0);">
              <%= image_tag "v2/teacher_pic_small", class: "img-fluid" %></a>
          </div>

          <div class="heading_subtitle m-0-auto"><strong><a target="_blank" href="Javascript: void(0);">Karen Emry</a></strong></div>
          <div class="grey-text text-align-center">Instructor</div>


        </div>
      </div>

      <hr class="digital_content_separation" />

      <div class="col-sm-6 clearfix">
        <div class="header">
          <h2 class="text-align-center"><em><strong>Day 03 with Karen Emry</strong></em></h2>
        </div>
        <div class="course_box hover_shadow">
          <div class="course_video">
            <div class="shivyog_video_img">
              <%= image_tag "v2/teacher_pic_session.jpg", class: "img-fluid img-no-border" %></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Intermediate</div>
            <div class="course_level"><i class="fa fa-eye" aria-hidden="true"></i> 35K</div>
            <div class="course_level"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 2,456</div>
          </div>
          <div class="teacher_pic m-10-auto">
            <a target="_blank" href="Javascript: void(0);">
              <%= image_tag "v2/teacher_pic_small", class: "img-fluid" %></a>
          </div>

          <div class="heading_subtitle m-0-auto"><strong><a target="_blank" href="Javascript: void(0);">Karen Emry</a></strong></div>
          <div class="grey-text text-align-center">Instructor</div>

          <div id="booked_slot_day_03" class="booked_slot">(Book a Slot)</div>
          <div class="inline" id="teacher_availability_cal_day_03"></div>

          <div class="shivyog-btn" id="course_access_request_btn"><a href="javascript: void(0);" class="cta_button_small bg-red waves-effect">Request Access</a></div>
        </div>
      </div>

      <div class="col-sm-6 clearfix">
        <div class="header">
          <h2 class="text-align-center"><em><strong>Day 04 with Karen Emry</strong></em></h2>
        </div>
        <div class="course_box hover_shadow">
          <div class="course_video">
            <div class="shivyog_video_img">
              <%= image_tag "v2/teacher_pic_session.jpg", class: "img-fluid img-no-border" %></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Intermediate</div>
            <div class="course_level"><i class="fa fa-eye" aria-hidden="true"></i> 35K</div>
            <div class="course_level"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 2,456</div>
          </div>
          <div class="teacher_pic m-10-auto">
            <a target="_blank" href="Javascript: void(0);">
              <%= image_tag "v2/teacher_pic_small", class: "img-fluid" %></a>
          </div>

          <div class="heading_subtitle m-0-auto"><strong><a target="_blank" href="Javascript: void(0);">Karen Emry</a></strong></div>
          <div class="grey-text text-align-center">Instructor</div>

          <div id="booked_slot_day_04" class="booked_slot">(Book a Slot)</div>
          <div class="inline" id="teacher_availability_cal_day_04"></div>

          <div class="shivyog-btn" id="course_access_request_btn"><a href="javascript: void(0);" class="cta_button_small bg-red waves-effect">Request Access</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="course_about_author">
  <div class="container">

    <div class="row course_about_author">
      <div class="col-sm-6">
        <div class="heading_subtitle">About the instructor</div>
        <p>She works in partnership with clients, advising them how to use ShivYog in order to meet their usiness objectives or overcome problems. Lorem ipsum dolor sit amet, consectetur adipiscing elites. Nulla convallis egestas rhoncusa. Donec lorem facilisis fermentum sem, ac viverra ante luctus vel.</p>
        <p>She works in partnership with clients, advising them how to use ShivYog in order to meet their usiness objectives or overcome problems. Lorem ipsum dolor sit amet, consectetur adipiscing elites. Nulla convallis egestas rhoncusa. Donec lorem facilisis fermentum sem, ac viverra ante luctus vel.</p>
      </div>
      <div class="col-sm-6 text-align-center">
        <div class="teacher_pic">
          <%= image_tag "v2/teacher_pic_small", class: "img-fluid" %></div>
        <div class="heading_subtitle m-10-auto"><strong>Karen Emry</strong></div>
        <p class="grey-text text-align-center">ShivYog Instructor</p>

        <div class="shivyog-btn"><a target="_blank" href="Javascript: void(0);" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>

      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="digital_content_rating">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form class="form-horizontal">
          <div class="header p-10-0"><h2>Write a review</h2></div>
          <div class="row">
            <div class="col-sm-12 clearfix">
              <div class="md-form">
                <input type="text" name="first_name" id="first_name" class="form-control">
                <label for="first_name">Title</label>
              </div>
            </div>

            <div class="col-sm-12 clearfix">
              <div class="md-form">
                <textarea class="form-control md-textarea" id="InputDescription" name="InputDescription" rows="3" required></textarea>
                <label for="InputDescription">Description</label>
              </div>
            </div>

            <div class="col-sm-12 clearfix">
              <div class="md-form">
                <label for="star-rating">Rating: </label>
                <div class="star-rating" id="star-rating">
                  <input id="star-5-course_rating" type="radio" name="rating-course_rating" value="star-5">
                  <label for="star-5-course_rating" title="5 stars">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                  <input id="star-4-course_rating" type="radio" name="rating-course_rating" value="star-4">
                  <label for="star-4-course_rating" title="4 stars">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                  <input id="star-3-course_rating" type="radio" name="rating-course_rating" value="star-3">
                  <label for="star-3-course_rating" title="3 stars">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                  <input id="star-2-course_rating" type="radio" name="rating-course_rating" value="star-2">
                  <label for="star-2-course_rating" title="2 stars">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                  <input id="star-1-course_rating" type="radio" name="rating-course_rating" value="star-1">
                  <label for="star-1-course_rating" title="1 star">
                      <i class="active fa fa-star" aria-hidden="true"></i>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-align-center">
                <div class="shivyog-btn"><a href="#" class="cta_button_small bg-red waves-effect">SUBMIT</a></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function makeTimer() {
  //    var endTime = new Date("29 April 2018 9:56:00 GMT+01:00");
    var endTime = new Date("19 April 2019 9:56:00 GMT+01:00");
    endTime = (Date.parse(endTime) / 1000);

    var now = new Date();
    now = (Date.parse(now) / 1000);

    var timeLeft = endTime - now;

    var days = Math.floor(timeLeft / 86400);
    var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
    var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
    var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

    if (hours < "10") { hours = "0" + hours; }
    if (minutes < "10") { minutes = "0" + minutes; }
    if (seconds < "10") { seconds = "0" + seconds; }

    $(".days").html(days);
    $(".hours").html(hours);
    $(".minutes").html(minutes);
    $(".seconds").html(seconds);
  }
  setInterval(function() { makeTimer(); }, 1000);

  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      'total': t
      , 'days': days
      , 'hours': hours
      , 'minutes': minutes
      , 'seconds': seconds
    };
  }
</script>
