
  <div class="row">
    <div class="col-sm-12">
      <div id="wrapper">
        <div id="login" class="animate form">
          <%= form_tag(request_reset_password_users_path, method: :post, id: "user_reset_password", class: "form-horizontal signup-form" ) do |f| %>
            <div class="msg">FORGOT PASSWORD</div>
            <% if flash.any? %>
              <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= flash[:alert] %>
              </div>
            <% end %>
            <div class="input-group display-table">
              <span class="input-group-addon">
                <i class="material-icons">person</i>
              </span>
              <div class="form-line">
                <%= text_field_tag "user[syid]", nil, class: "form-control", placeholder: "SYID/Email/Phone", required: 'required'  %>
              </div>
            </div>
            <div class="input-group display-table search_fname box search_option" id="first_name">
              <span class="input-group-addon">
                <i class="material-icons">person</i>
              </span>
              <div class="form-line">
                <%= text_field_tag "user[first_name]", nil, class: "form-control", placeholder: " Search by First name"%>
              </div>
            </div>
            <div class="input-group display-table">
              <label for="Search_By" class="control-label">Verification code to be sent by</label>
              <div class="gender-radio-btn">
                <%= radio_button_tag 'user[medium][]', 'email', true, class: "radio-col-red with-gap", id: "email" %>
                <label for="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= radio_button_tag 'user[medium][]', 'mobile', false , class: "radio-col-red with-gap", id: "phone" %>
                <label for="phone"><i class="fa fa-mobile-phone" aria-hidden="true"></i>&nbspPhone</label>
              </div>
            </div>
            <div class="row">
              <% unless user_signed_in? %>
                <div class="col-sm-5">
                  <div class="change_link">
                  Already have an account? <%= link_to "Login Now!", new_session_path(:user), class: "to_register" %>
                  </div>
                </div>
                <div class="col-sm-7">
                  <%= submit_tag "Reset Password", class: "cta_button_small signin_btn bg-red waves-effect btn-block" %>
                </div>
              <% else %>
                <div class="col-sm-7 offset-sm-5">
                  <%= submit_tag "Reset Password", class: "cta_button_small signin_btn bg-red waves-effect btn-block" %>
                </div>
              <% end %>
            </div>
          <% end %>
          <% unless user_signed_in? %>
            <div class="row m-t-15">
              <div class="col-sm-12">
                <%= link_to user_google_oauth2_omniauth_authorize_path,
                  class:"btn-block signin_with_google waves-effect" do %>
                  <span class="google_icon"></span>&nbsp;&nbsp;Sign in with Google
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
