<%= content_for(:title, "New Sadhak Profile") %>
<%= content_for :header do %>
  <meta name="turbolinks-visit-control" content="reload">
  <%= javascript_pack_tag "new_sadhak_profile", defer: true %>
  <%= stylesheet_pack_tag "new_sadhak_profile" %>
<% end %>

<section id="create-syid-banner">
</section>



<div class="container">
  <div class="heading_subtitle"><h2>Add New Sadhak Profile</h2></div>
  <div class="dashed_divider m-b-30"></div>

  <div class="card">
    <div class="body">
      <section id="vue-new-sadhak-profile">
      </section>
    </div>
  </div>
</div>

<%= render "v2/shared/newsletter" %>
