<div class="headingtittle-h2 text-center">
    <h2>Forums</h2>
    <span class="subheading">ShivYog Forum <strong class="texttransform"><%= @sy_club.name.try(:titleize) %></strong></span>
</div>
<div class="boxsection-lg boxshadow prelative boxsection-xs">
    <div class="row">
      <%= render partial: "board_members_venue_details" %>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 mg-t20">
            <div class="regConfirmation">
                <div class="row">
                    <div class="col-sm-12 mg-b20">
                        <div class="headtittle mg-b30">
                            <h2>Membership Confirmation</h2>
                            <%= link_to "Register More Members", polymorphic_url([@sy_club], action: :register) , class: 'btn btn-info btn-register' %>
                        </div>
                        <div class="successCntrl text-center primarybold">
                            <p class="succes-img">Congratulations, you have successfully transfer on the Forum <%= @to_club.name.try(:titleize) %>.</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="headtittle">
                            <h2>Request Summary</h2>
                        </div>
                        <div class="paymenttable mg-t10">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="primarybold">Previous Forum</td>
                                            <td><%= @from_club.try(:name).try(:titleize) %></td>
                                        </tr>
                                        <tr>
                                            <td class="primarybold">New Forum</td>
                                            <td><%= @to_club.try(:name).try(:titleize) %></td>
                                        </tr>
                                        <tr>
                                            <td class="primarybold">Status</td>
                                            <td class="primarybold success-color"><%= @sy_club_member_action_details.last.status.try(:titleize) %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="eventaddmember">
                            <div class="row">
                                <% if @sy_club_members %>
                                  <div class="col-sm-12">
                                      <div class="headtittle">
                                          <h2>Members</h2>
                                      </div>
                                      <div class="tableCntrl">
                                          <div class="table-responsive tableScrollbar">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th>Srl. No.</th>
                                                          <th>Name / SYID</th>
                                                          <th>Membership Expires On</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                    <% @sy_club_members.includes(:sadhak_profile, :event_registration).each_with_index do |member, index| %>
                                                      <tr>
                                                          <td><%= index + 1 %></td>
                                                          <td>
                                                              <div class="textgroup">
                                                                  <p class="primarybold"><%= member.sadhak_full_name %></p>
                                                                  <span><%= member.sadhak_syid %></span>
                                                              </div>
                                                          </td>
                                                          <td>
                                                              <div class="textpanel">
                                                                  <p class="primarybold"><%= member.event_registration.try(:expiration_date) %></p>
                                                              </div>
                                                          </td>
                                                      </tr>
                                                    <% end %>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                                <% end %>
                                <div class="col-sm-12 mg-t10">
                                    <div class="eventoption text-center">
                                        <p class="tagtittle">Please print and keep your details with you</p>
                                        <div class="eventaction">
                                            <button class="btn btn-danger" onclick="window.print();return false;"><i class="fa fa-print mg-r5" aria-hidden="true"></i> Print</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>