<% content_for(:title, 'Admin | Tax Type') %>

<div class="adminCntrl">
    <div class="headingtittle-h2 text-center">
        <h2>Admin Panel</h2>
    </div>
    <div class="row">
        <div class="overflow-row">
            <%= render 'admin/admin_left_panel' %>
            <div class="rightCntrl">
                <div class="boxsection-lg boxsection-xs boxshadow prelative">
                    
                    <div class="rightContent">
                      <div id="tax_types">
                          <div class="row">
                              <div class="col-sm-12 mg-b30">
                                   <div class="headtittle text-center">
                                      <h2>Tax Types</h2>
                                  </div>
                              </div>
                              <div class="col-sm-12">
                                  <%= render "tax_types/form"%>
                                  <a href="#Registercenters" class="refinemenu primary-color" data-toggle="collapse" aria-expanded="true"><i class="fa fa-filter" aria-hidden="true"></i> Refine</a>
                                  <div class="refineCntrl collapse in" aria-expanded="true" id="Registercenters" role="tablist">
                                    <form action="<%= tax_types_path %>" class="table-screen-next">
                                      <div class="refinesub-group">
                                          <div class="row">
                                              <div class="col-sm-12">
                                                  <div class="outbox">
                                                      <label>Search By Name</label>
                                                      <div class="box bordered-input">
                                                         <div class="dropdown dropdown-field">
                                                            <input type="text" class="form-control noBorder field" placeholder="Search name" name="tax_type_name", value="<%= params[:tax_type_name] %>">  
                                                         </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-sm-12">
                                                  <div class="pannel-btn text-right">
                                                      <%= link_to "CLEAR", tax_types_path, class: 'btn btn-danger mg-r10' %>
                                                      <button class="btn btn-info">SEARCH</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </form>
                                  </div>
                              </div>
                              <% if @tax_types.present? %>
                                <div class="col-sm-12">
                                    <div class="tableCntrl">
                                        <div class="table-responsive tableScrollbar">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  <% @tax_types.each do |tax_type|%>
                                                    <tr>
                                                        <td><%= tax_type.name %></td>
                                                        <td class="text-center">
                                                            <%= link_to "", edit_tax_type_path(tax_type), class: "mg-r10 primary-color fa fa-pencil" %>
                                                            <%= link_to "", tax_type_path(tax_type), method: :delete,data: {confirm: "Are you sure?"}, class: " primary-color fa fa-trash-o"%>
                                                        </td>
                                                    </tr>
                                                  <% end %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-pagination">
                                            <div class="show-pgnation">
                                                <p class="primarybold"><%= custom_page_entries_info(@tax_types) %></p>
                                            </div>
                                            <%= paginate @tax_types %>
                                        </div>
                                    </div>
                                </div>
                              <% else %>
                                <%= render partial: 'application/no_records', locals: {message: 'No Tax Type Found.'} %>
                              <% end %>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
