<%= content_for(:title, 'What is Shivyog') %>

<section id="what-is-shivyog-banner">
</section>

<section id="our_story_summary">
  <div class="container">
    <div class="row m-b-30">
      <div class="col-sm-6">
        <div class="heading_subtitle">What is Shivyog ?</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">You life is in your hands</div>
        <p>hiv Yog defines God as the source of the infinite potential within every human being. Every human being has the potential to go beyond the limited identification with the body and mind. Shiv Yog provides us easy and practical ways to establish a connection with the infinite dimension from where everything in the manifest universe has been created. It is a scientific approach to living a 200% life – 100% worldly and 100% spiritual. It is a journey from Mindfulness to Inner Consciousness to Self-realization.</p>

      </div>

      <div class="col-sm-6">
        <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/d_U2fJzkSck" data-target="#myModal"><%= image_tag "v2/what_is_shivyog_video_01.jpg", class: "img-fluid img-no-border" %></a></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Starting your Shiv Yog journey</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">How can I start my Shiv Yog journey ?</div>
      </div>
    </div>

    <div class="row m-b-30">
      <div class="col-sm-6">
        <p>The Shiv Yog foundation and Shiv Yog volunteers conduct various Shiv Yog mindfulness programs worldwide. A list of ongoing and upcoming Shiv Yog events is available in the "Events" section of this website. The best first step for someone interested in learning the wisdom and practice of Shiv Yog, is to join a Shiv Yog International Forum. <a href="http://www.shivyogportal.com" target="_blank">Click here</a> to find the nearest forum.</p>
      </div>

      <div class="col-sm-6">
        <p>You can utilize the "Request a call back" button on this website to speak with someone who is knowledgeable about Shiv Yog and can guide you. You can also connect with the nearest Shiv Yog forum to get more information. Joining a forum is also a good way to start your Shiv Yog journey. It does not matter how or where you start but a Shiv Yog mindfulness program is something that you should experience at least once in your life.</p>
      </div>
    </div>

    <div class="row m-b-30">
      <div class="col-sm-6">
        <%= image_tag "v2/seekers-journey.png", class: "img-fluid" %>
      </div>

      <div class="col-sm-6">
        <div class="heading_subtitle">Seeker's Journey</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">The journey of a thousand miles begins with one step</div>

        <p>Dr. Shivanand says, the journey from finite to infinite is one that every human being should make. However, he says that this amazing journey cannot be made in one leap. Shiv Yog says there are many stages one has to pass through before achieving self-realization.</p>

        <p>To help us navigate this journey smoothly, Dr. Shivanand has divided this journey into three stages -</p>

        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Shiv Yog Mindfulness</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Yoga of Inner Consciousness</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Yoga of Self-realization </p>

        <div class="text-align-center">
          <div class="shivyog-btn display-inline-block">
            <a href="#"><div class="cta_button_small bg-red waves-effect"><i class="fa fa-download"></i>&nbsp;ShivYog Principles PDF</div></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= render "v2/shared/social_links" %>
      </div>
    </div>

    <div class="row m-b-30">
      <div class="col-sm-12">
        <%= image_tag "v2/ShivYog-Journey.jpg", class: "img-fluid" %>
      </div>
    </div>

    <div class="row m-b-30">
      <div class="col-sm-12">
        <div class="heading_title">Shiv Yog says one has to pass through many stages to reach the destination</div>
        <div class="dashed_divider"></div>
        <p>Most human beings are going through life as if on autopilot and mindlessly chasing ill-defined goals and making unconscious choices. Shiv Yog mindfulness brings them into a state of awareness where they are able to be more observant of the choices they make.</p>

        <p>However, the path of Shiv Yog is designed to lead us inwards - towards the source of infinite that lies dormant within us. Everything in the universe is driven by consciousness. In the second stage, Shiv Yog takes away from external consciousness and into inner consciousness. Here we experience a state of happiness and bliss which we was until now denied to us. It is extremely peaceful here.</p>

        <p>A Shiv Yogi is however not satisfied with peace. His goal is awakening. A Shiv Yogi wishes to awaken to the infinite potential within himself. This is not easy and very few human beings actually reach self-realization. However, Dr. Shivanand wants every human being to become self-realized in this very lifetime. Therefore he has spent his entire life making this journey easier and smoother for all of us. We only have to take the first step and he will hold our hand and walk us to the final destination.</p>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>


<section id="shivyog_journey_tabs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a id="tab-mindfulness" href="#pane-mindfulness" class="nav-link journey_tabs active" data-toggle="tab" role="tab">ShivYog Mindfulness</a>
          </li>
          <li class="nav-item">
            <a id="tab-consciousness" href="#pane-consciousness" class="nav-link journey_tabs" data-toggle="tab" role="tab">Yoga of Inner Consciousness</a>
          </li>
          <li class="nav-item">
            <a id="tab-self-realization" href="#pane-self-realization" class="nav-link journey_tabs" data-toggle="tab" role="tab">Yoga of Self-Realization</a>
          </li>
          <li class="nav-item">
            <a id="tab-sadhna" href="#pane-sadhna" class="nav-link journey_tabs" data-toggle="tab" role="tab">Tantra of Shiv Shakti Sadhna</a>
          </li>
          <li class="nav-item">
            <a id="tab-vidya" href="#pane-vidya" class="nav-link journey_tabs" data-toggle="tab" role="tab">Advait Sri Vidya</a>
          </li>
        </ul>

        <div id="content" class="tab-content" role="tablist">
          <div id="pane-mindfulness" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-mindfulness">
            <div class="card-header" role="tab" id="heading-mindfulness">

              <a data-toggle="collapse" href="#collapse-mindfulness" aria-expanded="true" aria-controls="collapse-mindfulness">
              ShivYog Mindfulness
              </a>

            </div>
            <div id="collapse-mindfulness" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-mindfulness">
            <div class="card-body">
              <div class="row"><!--#START mindfulness Starts-->
                <div class="col-sm-6">
                  <div class="heading_title_small">What is Mindfulness ? </div>
                  <p>The Bhagawad Gita says, "For the one who has conquered the mind, the mind is the best of friends; but for one who has failed to do so, his very mind will be his greatest enemy." So the first step is to calm the mind. One also needs to make conscious choices if one wants to create the life that one seeks. In other words, you have to be "mindful" of your thoughts, speech and action. Shiv Yog mindfulness helps you be more aware, more alert and more at ease. You learn to make conscious choices.</p>

                  <div class="text-align-center">
                    <div class="shivyog-btn display-inline-block">
                      <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="shivyog_journey_img">
                    <%= image_tag "v2/mindfulness_img.jpg", class: "img-fluid" %>
                  </div>
                </div>
              </div><!--#END mindfulness Ends-->
            </div>
            </div>
          </div>

          <div id="pane-consciousness" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-consciousness">
            <div class="card-header" role="tab" id="heading-consciousness">

              <a class="collapsed" data-toggle="collapse" href="#collapse-consciousness" aria-expanded="false" aria-controls="collapse-consciousness">
              Yoga of Inner Consciousness
              </a>

            </div>
            <div id="collapse-consciousness" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-consciousness">
            <div class="card-body">
              <div class="row"><!--#START Consciousness Starts-->
                  <div class="col-sm-6">
                  <div class="heading_title_small">What is Inner Consciousness ? </div>
                  <p>External consciousness is engaged with the senses. And the senses are engaged with the sense objects. Objects of the external world that catch our fancy and hold our attention. As you drop the engagement with the sensory world and go inward you will find there is an inner consciousness. An inner core which is driving everything in your life. To experience this Shiv Yog takes you into a state called "Turiya" or the fourth state which is beyond waking, sleeping and dreaming. In this state you are not identified with your body and mind.</p>

                  <div class="text-align-center">
                    <div class="shivyog-btn display-inline-block">
                      <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="shivyog_journey_img">
                    <%= image_tag "v2/inner_consciousness_img.jpg", class: "img-fluid" %>
                  </div>
                </div>
              </div><!--#END Consciousness Ends-->
            </div>
            </div>
          </div>

          <div id="pane-self-realization" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-self-realization">
            <div class="card-header" role="tab" id="heading-self-realization">

              <a class="collapsed" data-toggle="collapse" href="#collapse-self-realization" aria-expanded="false" aria-controls="collapse-self-realization">
              Yoga of Self-Realization
              </a>

            </div>
            <div id="collapse-self-realization" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-self-realization">
            <div class="card-body">
              <div class="row"><!--#STARTS Self Realization Starts-->
                <div class="col-sm-6">
                  <div class="heading_title_small">What is Self-Realization ? </div>
                  <p>Shiv Yog does not look at God as an external agent sitting high up somewhere and running the administration of the world. In fact, Shiv Yog says, your life is in your hands and whatever you experience in your life is the result of your own actions. You are 100% responsible for everything that happens in your life. You can be identified with your body and mind (which are finite) and live a life of limitations or you can realize that that which we call God exists within you as the infinite self. This is your true nature and realizing this as a living experience is self-realization.</p>

                  <div class="text-align-center">
                    <div class="shivyog-btn display-inline-block">
                      <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="shivyog_journey_img">
                    <%= image_tag "v2/self_realization_img.jpg", class: "img-fluid" %>
                  </div>
                </div>
              </div><!--#END Self Realization Ends-->
            </div>
            </div>
          </div>

          <div id="pane-sadhna" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-sadhna">
            <div class="card-header" role="tab" id="heading-sadhna">

              <a class="collapsed" data-toggle="collapse" href="#collapse-sadhna" aria-expanded="false" aria-controls="collapse-sadhna">
              Tantra of Shiv-Shakti Sadhna
              </a>

            </div>
            <div id="collapse-sadhna" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-sadhna">
            <div class="card-body">
              <div class="row"><!--#START Shiv Shakti Sadhna Starts-->
                <div class="col-sm-6">
                  <div class="heading_title_small">What is Shiv-Shakti Sadhna ? </div>
                  <p>India's ancient sages have described Shiva as "vibration" and shakti as "energy." Dr. Shivanand says, "We are all made up of energy and energy is made up of vibration. Every thought, every emotion has a certain vibration and vibration creates energy. Positive thoughts and emotions create positive energy and negative thoughts and emotions create negative energy. As thoughts and emotions gather momentum the frequency of their vibration increases which generates enormous amounts of energy. This energy is then transformed into manifest reality." Shiva and Shakti also represent the masculine and feminine energies. Through the Shiva-shakti sadhna of Shiv Yog, these energies can be activated and brought to their peak and also balanced. This results in a very healthy, powerful and creative human being in whom the yin and yang are balanced. The word “Tantra” here refers to the method or process.</p>

                  <div class="text-align-center">
                    <div class="shivyog-btn display-inline-block">
                      <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="shivyog_journey_img">
                    <%= image_tag "v2/shiv_sadhna_img.jpg", class: "img-fluid" %>
                  </div>
                </div>
              </div><!--#END Shiv Shakti Sadhna Ends-->
            </div>
            </div>
          </div>

          <div id="pane-vidya" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-vidya">
            <div class="card-header" role="tab" id="heading-vidya">

              <a class="collapsed" data-toggle="collapse" href="#collapse-vidya" aria-expanded="false" aria-controls="collapse-vidya">
              Advait Sri Vidya
              </a>

            </div>
            <div id="collapse-vidya" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-vidya">
            <div class="card-body">
              <div class="row"><!--#START Advait Sri Vidya Starts-->
                <div class="col-sm-6">
                  <div class="heading_title_small">What is Advait Sri Vidya ? </div>
                  <p>The word "Advait" means non-duality. It is a state of consciousness in which a human being experiences himself as one with the entire creation. "Sri" means wealth. However, it is not talking of material wealth alone but all kinds of wealth. The word "vidya" means knowledge or "science." Thus Advait Sri Vidya is the non-dual science of creating enormous material and spiritual wealth and rapidly progressing towards self-realization. It is a very ancient Indian science and has been practiced by the greatest sages and spiritual beings the world has seen over thousands of years. This secret, powerful and esoteric science is now being taught openly to all by Dr. Shivanand who is a highly celebrated master of this science.</p>

                  <div class="text-align-center">
                    <div class="shivyog-btn display-inline-block">
                      <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="shivyog_journey_img">
                    <%= image_tag "v2/sri_vidya_img.jpg", class: "img-fluid" %>
                  </div>
                </div>
              </div><!--#END Advait Sri Vidya Ends-->
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="practice_shivyog">
  <div class="container">
    <div class="row m-b-30">
      <div class="col-sm-12">
        <div class="heading_subtitle">Benefits of practicing ShivYog</div>
        <div class="dashed_divider"></div>
        <p>Shiv Yog is a journey from the perception of being finite to the realization of being infinite. To make this journey successfully one needs the guidance of an enlightened master. Along the way, one acquires:</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Perfect physical health</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Perfect mental health</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Perfect emotional health</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Enormous material wealth</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Tremendous spiritual growth</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>More loving relationships</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Material success</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Professional success</p>
        <p><i class="fa fa-star-half-full" aria-hidden="true"></i>Name and prestige in the society</p>
        <p>Just as you cannot grow husk without growing the wheat, you cannot have material success and happiness without spiritual growth.</p>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Shiv Yog Principles</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">Here are a few principles that every Shiv Yogi must live by to enjoy life to the fullest</div>

          <div class="flat-accordion">
            <div class="flat-toggle">
              <div class="toggle-title">What is it that you want ?</div>
              <div class="toggle-content">
                <p>The first stage to materialize any wish is knowing what you want. Before deciding on what you exactly want in life, ask yourself whether the intention behind achieving this is pure. Because striving to win with impure intentions will be a task wherein divinity will not play a supporting role.</p>

                <p class="blue_bg_para"><em>"Tell me what is the use of boarding a vehicle when you don't know your destination? What is the use of going to the market when you don’t know what you want to buy? Likewise, what is the use of your existence when you don’t know the purpose of your life?"  </em><br /><strong>dwells Dr. Avdhoot Shivanandji.</strong></p>

                <p>Watch what you desire. Dr. Avdhoot Shivanandji tells that as Shiv Yogis, and as regular sadhaks, we will see an exponential improvement in our ability to materialize life as we want it. However, it is imperative that we understand the difference between need and greed. True satisfaction can only be got through deeds which bring about satiation of the soul. Such deeds include loving your family, helping others, donating to the poor, efforts to contribute to the environment, feeding animals, birds etc.</p>

                <p>And when you finally know that this is what I want, you must also spell out clearly the price you are willing to pay to achieve the goal. The hard work to achieve the examination percentage, the sacrifices to plant the seeds of sound relationships, the healthy lifestyle to follow to shed/lose weight or recover from a disease etc.</p>
              </div>
            </div><!-- /toggle -->
            <div class="flat-toggle">
              <div class="toggle-title">Always create and never complain</div>
              <div class="toggle-content">
                <p>We are all sons of the Creator and so we must create rather than complain. When we complain, we send the message to Mother Nature that we not grateful. That is the easiest way to ensure poverty. Rather than offering gratitude for what we have, we engage in complaining and whining over things we don’t have. He says a true Shiv Yogi will never complain whatever the situation may be.</p>
                <p>It is for the same reason that raising a hue and cry to meet the Guru physically is of little use. You can usher in a change in yourself only through sadhna. Meeting the Guru will not change anything. Before Him too you will parrot your sorrowful tales, thereby waste his and your precious time. That is what we have become habituated to. Till the the time we stop complaining, even God can't help us. We need to sit down with ourselves and follow the path the Guru shows us - that of expressing gratitude at every juncture of life.</p>
              </div>
            </div><!-- /toggle -->
            <div class="flat-toggle">
              <div class="toggle-title">Happiness at any cost </div>
              <div class="toggle-content">
                <p>Every task that we are looking to do, we do to achieve happiness. In the truest sense, this teaching implies that one must nurture the habit of surrendering his emotions to the divine. When the belief that 'whatever God is doing for me is in my greater interest' is drilled in our mind, we begin being happy at all the times.</p>
                <p>Every human is progressing towards God. Just that the pace is different. Those who have devoted themselves to the Almighty by surrendering to the Guru are moving at a rapid pace, while others are caught in the traffic jam. But rest assured, they are also en route to reaching that infinite.</p>
                <p>The journey becomes that much easier when we project happiness. Because happiness is very close to the bliss associated with the divine. The velocity of spiritual gain is slowed down considerably when we embrace negative traits. On the contrary, when we remain happy in every situation, we find our spiritual vehicle being driven very smoothly and at a good speed.</p>
              </div>
            </div><!-- /toggle -->
            <div class="flat-toggle">
              <div class="toggle-title">Grace of God is infinite</div>
              <div class="toggle-content">
                <p>We have practiced jealousy and crying hoarse - about how we have been given so little and how others have got so much that we have not even spared targeting the Almighty. In majority of the cases, what we are lamenting is not deprivation that we have been subjected to, but the fact that others have got more than us.</p>
                <p>Dr. Avdhoot Shivanandji is of the view that in this universe, there is ample for everyone. The grace of the Almighty is infinite like the Almighty Himself. The need to quarrel, snatch and engage in a tug of war is not there at all. You must only know how to create abundance for yourself.</p>
                <p>There is no reason to project despair and hopelessness into the universe. With Shiv Yog, you can connect with God and realize that you never walk alone. You can never be a subject of sorry, of sympathy. Despondency arises only when you drift away from your Source. But when you establish and sustain a firm bond with the divine, you laugh at the prospect of shedding tears for reasons which are at best futile and at worst non-existent.</p>
              </div>
            </div><!-- /toggle -->

            <div class="flat-toggle">
              <div class="toggle-title">Like energy attracts like energy</div>
              <div class="toggle-content">
                <p>One queen bee captivates all the other bees to work around it. Wherever it goes, the swarm of bees follows it. In keeping with Dr. Avdhoot Shivanandji’s scientific approach to Shiv Yog, He employs the principle of energy to explain how the predominant energy of a person or place attracts more of the energy of the same kind.</p>
                <p>In a similar manner, whatever energy we project to the world, a thousand fold of the same kind of energy follows us. If we sow the seeds of hatred, we will get a thousand people who will come to hate us. If we help and support others, we will encounter thousands of people who are ready to help us in our times of need.</p>
                <p>Every animate and inanimate thing at the end of the day is energy. The mind (thoughts) create energy. The energy creates matter. So if the energy aspect is taken care of, whatever matter is around us will transform by itself. Because matter is composed of energy</p>
                <p>When we have the energy of acceptance, unconditional love, forgiveness and gratitude, automatically we will see that the diseases have perished, emotional troubles have disappeared and poverty is something unknown to us.</p>
              </div>
            </div><!-- /toggle -->

            <div class="flat-toggle">
              <div class="toggle-title">Realize your true self</div>
              <div class="toggle-content">
                 <p>The belief that you are that Infinite leads to the realization that you are the creator. Aham Brahmasami. Shivoham Shivoham. This line of thinking helps us in developing qualities which make us introverted. Following from this, we stop judging others. Because we now understand that whatever anyone is, is nothing but the outcome of his own thought process. They have created that for themselves. It is their agenda. It will help them learn a divine lesson on their spiritual path. The universal truth of existence of the God element is not something outside. It is inherent in every sentient being. It is an integral part of matter.</p>
                <p>Dr. Avdhoot Shivanandji says that with open eyes you can see only what is there before you but with closed eyes, you can see whatever you wish. You can be the master.</p>
              </div>
            </div><!-- /toggle -->

            <div class="flat-toggle">
              <div class="toggle-title">You are the creator of your own destiny</div>
              <div class="toggle-content">
              <p>Every human being is 100% responsible for whatever is happening in his life. It is you who decides every single incident of your life - irrespective of whether it is good or bad. You were creating even before approaching the Guru but unconsciously.</p>
              <p>Shiv Yog says that now that you are under the protective umbrella of the Guru who has shown you the path to cut your karmas, it is time to rewrite your destiny.</p>
              <p>A wrestler doing thousand push ups for some money can only be a source of entertainment. The audience will not benefit in any manner whatsoever in this process. Likewise, to ask Dr. Avdhoot Shivanandji to write your destiny will be a zero sum game. No one benefits. Even the person receiving the grace will find misery in some form reaching him. This is so because the root cause, which is karma, has not been weeded out. That can only happen when we perform sadhna on our own self. Treat your destiny as a piece of land. Since long you have been planting weeds and wild plants. Now plant only beautiful, aesthetic and fragrant flowers on it.</p>
              <p>We have the power to perform miracles. No disease is incurable. No problem beyond resolution. Just that we need to learn the method to do the seemingly undoable and make the impossible as possible.</p>
              </div>
            </div><!-- /toggle -->
          </div><!-- /.accordion -->
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-6 text-align-center">
        <div class="shivyog-btn display-inline-block">
          <a href="#"><div class="cta_button_small bg-red waves-effect"><i class="fa fa-download"></i>&nbsp;ShivYog Principles PDF</div></a>
        </div>
      </div>
      <div class="col-sm-6">
        <%= render "v2/shared/social_links" %>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="shivyog_pillars">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

      <div class="heading_subtitle">ShivYog Pillars</div>
      <div class="dashed_divider"></div>
      <div class="heading_title_small">Dr. Avdhoot Shivanand has laid down three simple ways for a man to evolve from Nar to Narayan (from man to superman, from individual consciousness to cosmic consciousness), from finite to infinite.</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="shivyog_journey_box">
          <div class="shivyog_journey_img"><%= image_tag "v2/pillar_img_01.jpg", class: "img-fluid" %></div>
          <div class="title">Sadhna in Depth</div>
          <p class="text-align-center">Sadhna in Hindi implies to learn and rectify something through discipline. The senses need to be reined in so that we do not commit actions which lead to our downfall. So for this, initiation in meditation by a realized master is a prerequisite.</p>
          <div class="shivyog-btn display-inline-block">
            <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="shivyog_journey_box">
          <div class="shivyog_journey_img"><%= image_tag "v2/pillar_img_02.jpg", class: "img-fluid" %></div>
          <div class="title">Nishkaam Seva in Depth</div>
          <p class="text-align-center">As the parents give us biological birth, the Guru gives us the spiritual birth. He ignites the spiritual fire in us. Consciousness, which is inactive in the sleeping state, is awakened by the Guru in order to show us a better way of living.</p>
          <div class="shivyog-btn display-inline-block">
            <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="shivyog_journey_box">
          <div class="shivyog_journey_img"><%= image_tag "v2/pillar_img_03.jpg", class: "img-fluid" %></div>
          <div class="title">Sankirthan in Depth</div>
          <p class="text-align-center">Dr. Avdhoot Shivanandji wants the best for his disciples and has chosen the most powerful mantras to chant from <span class="red-text">Swadhyay</span>. With it, he enlightens the seekers that it is not that you are worshipping someone outside. It is the God within you that you worshipping.</p>
          <div class="shivyog-btn display-inline-block">
            <a href="#"><div class="cta_button_small bg-red waves-effect">Read More</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="heading_subtitle">ShivYog Intro</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">Introduction to ShivYog</div>
        <p>Shiv represents the Supreme Consciousness and Yog represents union. ShivYog thus is the state of being merged with the infinite consciousness. To know more about healing the mind, body & soul and about life transformation solutions visit this website's pages. The founder of ShivYog is Dr. Avdhoot Shivanand is the Master of Ancient Indian Healing, who is currently sharing the sacred secrets of healing for overall life transformation.</p>
      </div>
      <div class="col-sm-6">
        <div class="shivyog_video_img"><a href="Javascript: void(0);" id="dr_shivanand_video" data-toggle="modal" data-src="https://www.youtube.com/embed/pi6H4dLgraM" data-target="#myModal"><%= image_tag "v2/shivyog_intro_video_img.jpg", class: "img-fluid" %></a></div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>

<div class="clearfix"></div>
