<div id="stripe" class="tab-pane tabsubcontent">
    <div class="table-responsive paymenttable">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th class="text-right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="primarybold">Registration Charge</td>
                        <td class="text-right primarybold"><%= "#{currency} #{number_with_precision(amount, precision: 2)}" %></td>
                    </tr>
                    <tr>
                        <td class="primarybold">Additional Charges (<%= "#{gateway.try(gateway.try(:payment_gateway_type).try(:relation_name)).try(:tax_amount).rnd}" %>%)</td>
                        <td class="text-right primarybold"><%= "#{currency} #{number_with_precision(gateway_charges(gateway, amount).rnd, precision: 2)}" %></td>
                    </tr>
                    <tr>
                        <td class="primaryblackbold">Total Payable Amount <% if is_india_event %> <span class="primary-color">(Non Refundable)</span> <% end %> </td>
                        <td class="text-right primaryblackbold"><%= "#{currency} #{number_with_precision((amount + gateway_charges(gateway, amount).rnd), precision: 2)}" %></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="warningmessage">
        <p>Please don't attempt payments twice for same SYIDs. If fees is deducted from account and registration number not received then please inform Ashram helpline number or email to <a href="mailto:<%= GetSenderEmail.call(@event_order.event) %>" class="primary-color"><%= GetSenderEmail.call(@event_order.event) %></a> within 2 days of your transation.</p>
    </div>
    <%= form_for :payment_details, url: pay_event_order_path(@event_order), method: :post, html: { id: "stripe-payment-gateway-form" } do |f| %>
        <%= csrf_meta_tag %>
        <div class="row">
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label class="asterisk">Card Holder Name</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :card_holder_name, class: "form-control noBorder field", placeholder: "Card holder name", required: true %>
                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label class="asterisk">Card Number</label>
                   <div class="dropdown dropdown-field">
                      <input type="text" name="stripe_card_holder_number" class="form-control noBorder field" placeholder="Card number" maxlength="20" data-stripe="number" required>
                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label class="asterisk">Expiry Month / Year</label>
                   <div class="onerow-name clearfix">
                        <input type="text" name= "stripe_exp_month" class="form-control noBorder" placeholder="mm" data-stripe='exp_month' maxlength="2" required>
                        <input type="text" name= "stripe_exp_year" class="form-control noBorder" placeholder="yy"  data-stripe='exp_year' maxlength="2" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label class="asterisk">CVC</label>
                   <div class="dropdown dropdown-field">
                      <input type="text" name= "stripe_cvc" class="form-control noBorder field" placeholder="CVC" maxlength="4" data-stripe="cvc" required>
                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label>Contact</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :mobile, class: "form-control noBorder field", placeholder: "Contact number" %>

                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label>Email</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :billing_email, class: "form-control noBorder field", placeholder: "Email" %>
                   </div>
                </div>
            </div>
        </div>
        <div class="shivyog-sepeator"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="headtittle mg-t20 mg-b20">
                    <h2>Address <span class="subheadtittle"></span></h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label>Address Line 1</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :billing_address_line_1, class: "form-control noBorder field", placeholder: "Billing address line 1" %>

                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label>Address Line 2</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :billing_address_line_2, class: "form-control noBorder field", placeholder: "Billing address line 2" %>
                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label>Country</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :country, class: "form-control noBorder field", placeholder: "Country" %>
                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label>State</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :state, class: "form-control noBorder field", placeholder: "State" %>
                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label>City</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :city, class: "form-control noBorder field", placeholder: "City" %>
                   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bordered-input">
                   <label>Postal Code</label>
                   <div class="dropdown dropdown-field">
                      <%= f.text_field :postal_code, class: "form-control noBorder field", placeholder: "Postal code", maxlength: "6", data: { stripe: "address_zip" } %>
                   </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="pannel-btn text-right">
                    <%= f.submit 'PAY NOW', class: "btn btn-info" %>
                </div>
            </div>
        </div>
        <input type="hidden" name="payment_details[amount]" value=<%= (amount + gateway_charges(gateway, amount).rnd) %>>
        <input type="hidden" name="payment_details[event_order_id]" value=<%= event_order_id %>>
        <input type="hidden" name="payment_details[config_id]" value=<%= gateway.try(gateway.payment_gateway_type.relation_name).try(:id).to_s %>>
        <input type="hidden" name="method" value=<%= gateway.try(:payment_gateway_type).try(:name).to_s %>>
        <input type="hidden" name="payment_details[payment_date]" value=<%= Date.today.to_s %>>
        <input type="hidden" name="payment_details[payment_gateway_mode_association_id]" value="" >
        <input type="hidden" name="payment_details[upgrade]" value=<%= @upgrade.present? %> >
        <input type="hidden" name="payment_details[parent_event_order_id]" value=<%= @parent_event_order_id %> >
        <input type="hidden" name="<%= ENCRYPT_PAYMENT_DETAILS_KEY.encrypt %>" value=<%= encryped_payment_details({ amount: (amount + gateway_charges(gateway, amount).rnd), event_order_id: event_order_id, config_id: gateway.try(gateway.try(:payment_gateway_type).try(:relation_name)).try(:id).to_s, method: gateway.try(:payment_gateway_type).try(:name).to_s, payment_date: Date.today.to_s, payment_gateway_mode_association_id: "", upgrade: @upgrade.present?, parent_event_order_id: @parent_event_order_id }) %>>
        <input type="hidden" name="<%= EVENT_ORDER_LINE_ITEM_IDS.encrypt %>" value=<%= @before_event_order_line_items.to_json.encrypt %> >
        <input type="hidden" name="<%= SADHAK_PROFILE_DETAILS.encrypt %>" value=<%= @sadhak_details_hash.to_json.encrypt %> >
    <% end %>
</div>
<script type="text/javascript">
  Stripe.setPublishableKey('<%= gateway.try(gateway.payment_gateway_type.relation_name).try(:publishable_key) %>');

  $(function() {
    $('#stripe-payment-gateway-form').validate();
    var $form = $('#stripe-payment-gateway-form');
    $form.submit(function(event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('input.btn.btn-info').prop('disabled', true);
      $form.find('input.btn.btn-info').val('PROCESSING...!');
      var target_url;
      if(document.location.href === document.referrer || document.referrer === ""){
          target_url = "<%= Rails.application.config.app_base_url %>"
      }else{
          var target_url = document.referrer
      }
      for (i = 0; i < 100 ; i++){
        window.history.pushState(null, document.title, target_url);
      }
      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });

  var stripeResponseHandler = function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#stripe-payment-gateway-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      //$form.find('.payment-errors').text(response.error.message);
      toastr.error(response.error.message);
      $form.find('input.btn.btn-info').prop('disabled', false); // Re-enable submission
      $form.find('input.btn.btn-info').val('PAY NOW');

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;

      // Insert the token ID into the form so it gets submitted to the server:

      $form.append($('<input type="hidden" name="payment_details[stripeToken]">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  };
</script>
