<%= content_for(:title, "Our Teacher") %>

<section id="awards-recognitions-banner">
  <div class="light_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md 12">
        <div class="banner_text">
          <div class="main_banner_heading">
            Our Teachers
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="heading_title">Our Teachers</div>

      <div class="row">
        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clearfix">
          <div class="teacher_box hover_active">
            <div class="teacher_img"><%= image_tag "teacher_01.jpg", class: "img-fluid" %>
              <div class="teacher_read_more">
                <div class="shivyog-btn"><a href="<%= v2_teacher_path(1) %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-eye"></i>&nbsp;View Profile</a></div>
              </div>
            </div>
            <div class="teacher_name red-text">Karen Emry</div>
            <div class="teacher_designation">Professor, University of California</div>
            <div class="teacher_para"><p class="text-align-center">Shiv Yog offers a complete program for transforming all aspects of your life. Our ancients had given a lot of thought to every aspect of the life of a human being and her relationship with nature.</p> </div>
            <div class="teacher_social_media">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<!-- Video Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
         </button>
      <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal -->

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>