<%= content_for(:title, "Our Teacher Detail") %>

<section id="awards-recognitions-banner">
  <div class="light_overlay"></div>
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md 12">
        <div class="banner_text">
          <div class="main_banner_heading">
            Karen Emry
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="heading_title">Meet Karen Emry</div>
        <div class="heading_subtitle">A Renowned ShivYog Speaker</div>

        <p>She works in partnership with clients, advising them how to use ShivYog in order to meet their usiness objectives or overcome problems. Lorem ipsum dolor sit amet, consectetur adipiscing elites. Nulla convallis egestas rhoncusa. Donec lorem facilisis fermentum sem, ac viverra ante luctus vel.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elites. Nulla convallis egestas rhoncusa. Donec lorem facilisis fermentum sem.ac viverra ante luctus vel. Donec vel mauris quam Proin vestibulum leo eget erat congue interdum. Nulla convallis egestas rhoncusa.</p>

        <p>Enim venenatis nisl wisi quis, in wisi. Sollicitudin eget mollis accumsan, ut wisi maecenas tortor. Magna vehicula auctor lacus aliquam. Vehicula bibendum ut sed class erat, et et risus vel pede ac, purus orci. Nulla integer sed sem. Ut erat dolor lectus consectetuer, vel tincidunt integer duis euismod nunc, pede pede nec mauris in, vel sem fuga dis ligula. Ridiculus placerat, odio ut, mauris per vitae vehicula lorem sed vestibulum, nec fusce cras orci enim.</p>

        <p>Pellentesque nulla ut. Convallis eleifend ut est dui eros, porta enim odio luctus, sed orci nonummy tellus, wisi enim venenatis magnis, dolor nunc.</p>

        <p>Sociosqu at metus luctus feugiat integer, imperdiet auctor risus. Vel ultricies dis et at sodales. Massa id urna eros tempor. Fusce lobortis dolor viverra, tempor consequat nibh, eget faucibus sapien porttitor wisi, velit et. Sollicitudin consectetuer interdum.</p>

      </div>

      <div class="col-sm-6">
        <div class="teacher_detail_box">
        <div class="teacher_img"><%= image_tag "teacher_01_large.jpg", class: "img-fluid" %>
          <div class="teacher_detail_social_media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="teacher_name red-text">Karen Emry</div>
        <div class="teacher_designation">Professor, University of California</div>
        <div class="teacher_contact"><i class="fa fa-phone" aria-hidden="true"></i> +1 (000) 234 5670 | +0800 12345</div>
        <div class="teacher_contact"><i class="fa fa-envelope" aria-hidden="true"></i> ka******@domain.com</div>
        <div class="teacher_contact"><i class="fa fa-skype" aria-hidden="true"></i> karen.emry</div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="our_teacher_courses_video">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="video_white_wrapper"></div>
        <div class="row">
          <div class="col-sm-6">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="col-sm-6">
            <div class="video_of_the_month_txt">
              <div class="heading_subtitle position-relative m-10-auto red-text">Course of the month</div>
              <div class="position-relative"><p><strong>Kriya ShivYog (Summary Video)</strong></p></div>
              <p class="position-relative"><em>"Live a 200% life - 100% focused on inner growth and 100% focused on external success! Shiv Yog meditation is a potent, powerful tool to calm your mind and bring an all-pervading sense of peace into your life. It takes you from a state of unease to a state of quiet mindfulness. To start your journey attend a Shiv Yog Intro program at a location nearest to you. Contact me for the latest ShivYog Courses and exclusive photos and videos of the most popular public speakings." </em></p>
              <div class="course_details position-relative">
                <div class="author_name"><!--<span class="teacher_pic"><img src="/assets/teacher_pic_small.jpg" /></span>--><i class="fa fa-user" aria-hidden="true"></i> Karen Emry (Speaker)</div>
                <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
                <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
              </div>
              <div class="banner_button">
                <div class="shivyog-btn"><a href="#" class="cta_button_small bg-red waves-effect m-0-auto"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Watch Trailer</a></div>
              </div>
              <div class="banner_button">
                <div class="shivyog-btn"><a href="#" class="cta_button_small bg-red waves-effect m-0-auto">Get full access</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_title">Other courses offered by Karen Emry</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal">"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 clearfix">
        <div class="course_box hover_active">
          <div class="course_video">
            <div class="shivyog_video_img"><a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/wEaJp6BPBLY" data-target="#myModal"><%= image_tag "video-img.jpg", class: "img-fluid img-no-border" %></a></div>
          </div>
          <div class="course_title"><strong>Kriya ShivYog</strong></div>
          <div class="course_details position-relative">
            <div class="course_duration"><i class="fa fa-clock-o" aria-hidden="true"></i> 2h 30m</div>
            <div class="course_level"><i class="fa fa-signal" aria-hidden="true"></i> Beginner</div>
          </div>
          <div class="course_rating"><%= image_tag "course_rating.png", class: "img-fluid" %> (20 reviews)</div>
          <div class="course_expiry">
            <div class="timer">
              <div class="days"></div>
              <div class="hours"></div>
              <div class="minutes"></div>
              <div class="seconds"></div>
            </div>
          </div>

          <div class="unlock_course">
            <a href="#"><i class="material-icons">timer</i>&nbsp; Unlock Now</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="unlock_all_courses">
          <div class="timer"><i class="material-icons">timer</i></div>
          <div class="unlock_text">Unlock All Courses</div>
          <div class="unlock_subtext">Get access to all the courses by Karen Emry</div>
          <div class="shivyog-btn"><a href="<%= new_user_session_path %>" class="cta_button_small bg-red waves-effect"><i class="fa fa-sign-in"></i>&nbsp;Login Now</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>

<script>
  function makeTimer() {
    // var endTime = new Date("29 April 2018 9:56:00 GMT+01:00");
    var endTime = new Date("19 April 2019 9:56:00 GMT+01:00");
    endTime = (Date.parse(endTime) / 1000);

    var now = new Date();
    now = (Date.parse(now) / 1000);

    var timeLeft = endTime - now;

    var days = Math.floor(timeLeft / 86400);
    var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
    var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
    var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

    if (hours < "10") { hours = "0" + hours; }
    if (minutes < "10") { minutes = "0" + minutes; }
    if (seconds < "10") { seconds = "0" + seconds; }

    $(".days").html(days + "<span>Days</span>");
    $(".hours").html(hours + "<span>Hours</span>");
    $(".minutes").html(minutes + "<span>Minutes</span>");
    $(".seconds").html(seconds + "<span>Seconds</span>");

  }

  setInterval(function() { makeTimer(); }, 1000);
</script>
