<% content_for(:title, 'Admin | Hdfc Config') %>

<div class="adminCntrl">
	<div class="headingtittle-h2 text-center">
		<h2>Admin Panel</h2>
	</div>
	<div class="row">
		<div class="overflow-row">
			<%= render 'admin/admin_left_panel' %>
			<div class="rightCntrl">
			    <div class="boxsection-lg boxsection-xs boxshadow prelative">
			        <div class="rightContent">
			          <div id="hdfc_configs">
			              <div class="row">
			                  <div class="col-sm-12 mg-b30">
			                       <div class="headtittle text-center">
			                          <h2>Hdfc Configs</h2>
			                      </div>
			                  </div>
			                  <div class="col-sm-12">
			                      <%= render "hdfc_configs/form"%>
			                  </div>
			                  <% if @hdfc_configs.present? %>
			                    <div class="col-sm-12">
			                        <div class="tableCntrl">
			                            <div class="table-responsive tableScrollbar">
			                                <table class="table">
			                                    <thead>
			                                        <tr>
			                                            <th>Name</th>
			                                            <th class="text-center">Action</th>
			                                        </tr>
			                                    </thead>
			                                    <tbody>
			                                      <% @hdfc_configs.each do |hdfc_config|%>
			                                        <tr>
			                                            <td><%= hdfc_config.alias_name %></td>
			                                            <td class="text-center">
			                                                <div class="dropover dropdown">
			                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			                                                    </button>
			                                                    <ul class="dropdown-menu mCustomScrollbar">
			                                                        <li><%= link_to "Edit", edit_hdfc_config_path(hdfc_config) %></li>
			                                                        <li><%= link_to "Delete", hdfc_config_path(hdfc_config), method: :delete,data: {confirm: "Are you sure?"} %></li>
			                                                    </ul>
			                                                </div>
			                                            </td>
			                                        </tr>
			                                      <% end %>
			                                    </tbody>
			                                </table>
			                            </div>
			                            <div class="table-pagination">
			                                <div class="show-pgnation">
			                                    <p class="primarybold"><%= custom_page_entries_info(@hdfc_configs) %></p>
			                                </div>
			                                <%= paginate @hdfc_configs %>
			                            </div>
			                        </div>
			                    </div>
			                  <% else %>
			                    <%= render partial: 'application/no_records', locals: {message: 'No Hdfc Config Found.'} %>
			                  <% end %>
			              </div>
			          </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>    
</div>
